<div class="container" style="margin-bottom: 60px;">
    <h3 class="text-center">Account Delete Instructions</h3>
    <br>
    <ul class="list-group">
        <li class="list-group-item">If you want to delete your account. You need to be logged In</li>
        <li class="list-group-item">Navigate to profile page from footer or side nav bar</li>
        <li class="list-group-item">In profile page, select settings section</li>
        <li class="list-group-item">Scroll down and you find <span style="color: red;">'Delete My Account'</span>. click that.</li>
        <li class="list-group-item">You will receive a confirmation popup asking are you sure you want to delete the account.</li>
        <li class="list-group-item">Click Ok.</li>
        <li class="list-group-item">Please enter the verification string just to make sure you are not accidentally deleting the account. click ok.</li>
        <li class="list-group-item">An alert will be shown telling you your account deletion process is initiated.</li>
        <li class="list-group-item">Click OK and please wait patiently. Your account will be logged out of system and your account will be deleted.</li>
    </ul>
    <br>

    <h3>What you will loose when you delete your account</h3>
    <br>
    <ul class="list-group">
        <li class="list-group-item">You wishlists, ratings and watched lists will be gone</li>
        <li class="list-group-item">All the custom lists you created will be gone</li>
        <li class="list-group-item">All your preferences will be gone</li>
        <li class="list-group-item">Your followers, following, follow requests you sent and follow requests you received will be gone</li>
        <li class="list-group-item">You will be completely new to Suggesto when you try to login again to suggesto.</li>
        <li class="list-group-item">Please read instructions above to delete your account and only delete your account when you really want it.</li>
    </ul>
</div>