<!-- <div class="text-center center-block">
  <button type="button" class="btn btn-outline-primary" style="border-radius: 100px;margin: 2%;" (click)="copyToClipboard()"><i class="bi bi-share-fill"></i> Share our app</button>
  <button type="button" class="btn btn-outline-primary" style="border-radius: 100px;margin: 2%;" (click)="goToPlayStore()"><i class="fab fa-google-play"></i> Rate on playstore</button>
</div> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <h6 class="text-center">Rate and Share our app</h6> -->
<div style="background-color: black;color: white;display: flex;justify-content: center;flex-wrap: wrap;" class="container" >
    <a (click)="goToPlayStore()" class="fa play3">
      <svg width="24" height="24" style="fill: white;" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 0c-6.626 0-12 5.372-12 12 0 6.627 5.374 12 12 12 6.627 0 12-5.373 12-12 0-6.628-5.373-12-12-12zm-4.667 18.804l6.143-6.125 2.166 2.158-7.303 4.049c-.278.154-.618.152-.894-.006l-.112-.076zm5.524-6.743l-5.857 5.839v-11.679l5.857 5.84zm3.659-2.413l2.862 1.586c.281.156.455.449.455.766s-.174.61-.455.766l-2.94 1.63-2.342-2.335 2.42-2.413zm-9.248-4.395l.177-.133c.276-.158.616-.16.894-.006l7.381 4.092-2.244 2.237-6.208-6.19z"/></svg>
        <br><span style="font-size: small;color: white;"> Rate on playstore</span>
    </a>
    <a (click)="copyToClipboard()" class="fa play2">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white;"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm1 15.889v-2.223s-3.78-.114-7 3.333c1.513-6.587 7-7.778 7-7.778v-2.221l5 4.425-5 4.464z"/></svg>
      <br><span style="font-size: small;color: white;"> Share our app</span>
    </a>
    <!-- <a href="mailto:moviesuggesto@gmail.com" class="fa fa-share-alt">

    </a> -->
</div>

