.fa {
    padding: 5px;

    font-size: 30px;
    width: 35%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 5px;
    color: white
  }

  
  .play2
  {
    color: white; 
    background: #ffede71f;

    box-sizing: border-box;
    border-radius: 6px;
  }

  .play3
  {
      color: white;
      background: #ffede71f;

      box-sizing: border-box;
      border-radius: 6px;
  }

  .fa-share-alt
  {
    background: #3B5998;
    color: white;
  }