<!-- <div class="text-center center-block">
  <button type="button" class="btn btn-outline-primary" style="border-radius: 100px;margin: 2%;" (click)="copyToClipboard()"><i class="bi bi-share-fill"></i> Share our app</button>
  <button type="button" class="btn btn-outline-primary" style="border-radius: 100px;margin: 2%;" (click)="goToPlayStore()"><i class="fab fa-google-play"></i> Rate on playstore</button>
</div> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h6 class="text-center">Rate and Share our app</h6>
<div style="background-color: black;color: white;display: flex;justify-content: center;flex-wrap: wrap;" class="container" >
    <a (click)="goToPlayStore()" class="fa play3">
        <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xLjU3MSAyMy42NjRsMTAuNTMxLTEwLjUwMSAzLjcxMiAzLjcwMS0xMi41MTkgNi45NDFjLS40NzYuMjY0LTEuMDU5LjI2LTEuNTMyLS4wMTFsLS4xOTItLjEzem05LjQ2OS0xMS41NmwtMTAuMDQgMTAuMDExdi0yMC4wMjJsMTAuMDQgMTAuMDExem02LjI3NC00LjEzN2w0LjkwNSAyLjcxOWMuNDgyLjI2OC43ODEuNzcuNzgxIDEuMzE0cy0uMjk5IDEuMDQ2LS43ODEgMS4zMTRsLTUuMDM5IDIuNzkzLTQuMDE1LTQuMDAzIDQuMTQ5LTQuMTM3em0tMTUuODU0LTcuNTM0Yy4wOS0uMDg3LjE5MS0uMTYzLjMwMy0uMjI3LjQ3My0uMjcxIDEuMDU2LS4yNzUgMS41MzItLjAxMWwxMi42NTMgNy4wMTUtMy44NDYgMy44MzUtMTAuNjQyLTEwLjYxMnoiLz48L3N2Zz4=">
        <br><span style="font-size: small;color: black;"> Rate on playstore</span>
    </a>
    <a (click)="copyToClipboard()" class="fa play2">
      <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNSA3YzIuNzYxIDAgNSAyLjIzOSA1IDVzLTIuMjM5IDUtNSA1LTUtMi4yMzktNS01IDIuMjM5LTUgNS01em0xMS4xMjIgMTIuMDY1Yy0uMDczLjMwMS0uMTIyLjYxMS0uMTIyLjkzNSAwIDIuMjA5IDEuNzkxIDQgNCA0czQtMS43OTEgNC00LTEuNzkxLTQtNC00Yy0xLjE2NSAwLTIuMjA0LjUwNi0yLjkzNSAxLjMwMWwtNS40ODgtMi45MjdjLS4yMy42MzYtLjU0OSAxLjIyOS0uOTQzIDEuNzY0bDUuNDg4IDIuOTI3em03Ljg3OC0xNS4wNjVjMC0yLjIwOS0xLjc5MS00LTQtNHMtNCAxLjc5MS00IDRjMCAuMzI0LjA0OS42MzQuMTIyLjkzNWwtNS40ODggMi45MjdjLjM5NS41MzUuNzEzIDEuMTI3Ljk0MyAxLjc2NGw1LjQ4OC0yLjkyN2MuNzMxLjc5NSAxLjc3IDEuMzAxIDIuOTM1IDEuMzAxIDIuMjA5IDAgNC0xLjc5MSA0LTR6Ii8+PC9zdmc+">
      <br><span style="font-size: small;color: black;"> Share our app</span>
    </a>
    <!-- <a href="mailto:moviesuggesto@gmail.com" class="fa fa-share-alt">

    </a> -->
</div>

