<div style="background-color: white;color: black;min-height: 100vh;">
    <div class="container" style="padding: 24px;">
    <div class="heading1" style="margin-bottom: 8px;">
        Hey Bro !
    </div>
    <div class="heading1" style="margin-bottom: 32px;color: #D3D3D3;">
        Sub heading here
    </div>
    <div style="background-color: rgba(118, 118, 128, 0.12);border-radius: 10px;padding-top: 7px;padding-bottom: 7px;">
        <div class="d-flex bd-highlight">
            <div class=" bd-highlight" style="padding: 0 0.5rem 0;"><i class="bi bi-search"></i></div>
            <div class=" flex-grow-1 bd-highlight" style="padding: 0 0.5rem 0;">Search</div>
            <div class=" bd-highlight" style="padding: 0 0.5rem 0;"><i class="bi bi-mic"></i></div>
          </div>
    </div>
    <div class="items">
        <img class="image" src="https://image.tmdb.org/t/p/w500/gcphM7ZLxS5HPeCZgjZobfz907x.jpg">
        <img class="image" src="https://image.tmdb.org/t/p/w500/2KQI0x6AEdbiN6z4LWjKZHukMzZ.jpg">
        <img class="image" src="https://image.tmdb.org/t/p/w500/jabDy4PCBwLpGvopEPWo1tUijm8.jpg">
        <img class="image" src="https://image.tmdb.org/t/p/w500/fQ40gmFM4p03tXwMxQQKh2cCBW4.jpg">
    </div>
    <div class="button text-center" routerLink="/all">
        See All Movies
    </div>

    </div>
</div>
