<div *ngIf="isMobile">
  <div id="footer">
    <div style="display: flex;justify-content: center;flex-wrap: wrap;">
      <div style="width: 20%;" class="abc">
      <h4 routerLink="/home" routerLinkActive="active">
        <i class="bi bi-house" ></i>
        <p style="font-size: xx-small;">home</p>
      </h4>
      </div>
      <div style="width: 20%;" class="abc">
        <h4  routerLink="/all" routerLinkActive="active">
          <i class="bi bi-search"></i>
          <p style="font-size: xx-small;">Search</p>
        </h4>
      </div>
      <div style="width: 20%;" class="abc">
        <h4 routerLink="/news-feed" routerLinkActive="active">
          <i class="bi bi-heart"></i>
          <p style="font-size: xx-small;">Feed</p>
        </h4>
      </div>
      <div style="width: 20%;" class="abc">
        <h4 routerLink="/movielist" routerLinkActive="active">
          <i class="bi bi-collection-play"></i>
          <p style="font-size: xx-small;">Lists</p>
        </h4>
      </div>      
      <!-- <div style="width: 20%;" class="abc">
        <h4 routerLink="/people" routerLinkActive="active">
          <i class="bi bi-people"></i>
          <p style="font-size: xx-small;">People</p>
        </h4>
      </div> -->
      <div style="width: 20%;" class="abc">
        <h4  routerLink="/login" routerLinkActive="active" *ngIf="!loggedIn" >
          <i class="bi bi-person"></i>
          <p *ngIf="!loggedIn" style="font-size: xx-small;">Login</p>
        </h4>
        <h4 routerLink="/profile" routerLinkActive="active" *ngIf="loggedIn">
          <i *ngIf="loggedIn && !currentCustomer"   class="bi bi-person"></i>
          <img *ngIf="loggedIn && currentCustomer" src="{{currentCustomer.customerPhotoUrl}}" width="24" style="border-radius: 100px;">
          <p *ngIf="loggedIn" style="font-size: xx-small;">Profile</p>
        </h4>
      </div>
    </div>
  
  </div>
  <!-- <div id="footer">
    <div style="display: flex;justify-content: center;flex-wrap: wrap;">
      <div style="width: 16.6%;" class="abc">
      <h4>
        <i class="bi bi-house" routerLink="/home" routerLinkActive="active"></i>
      </h4>
      </div>
      <div style="width: 16.6%;" class="abc">
        <h4><i class="bi bi-search" routerLink="/all" routerLinkActive="active"></i></h4>
      </div>
      <div style="width: 16.6%;" class="abc">
        <h4><i class="bi bi-collection-play" routerLink="/movielist" routerLinkActive="active"></i></h4>
      </div>
      <div style="width: 16.6%;" class="abc">
        <h4><i class="bi bi-newspaper" routerLink="/news-feed" routerLinkActive="active"></i></h4>
      </div>
      <div style="width: 16.6%;" class="abc">
        <h4><i class="bi bi-people" routerLink="/people" routerLinkActive="active"></i></h4>
      </div>
      <div style="width: 16.6%;" class="abc">
        <h4><i *ngIf="!loggedIn" class="bi bi-person" routerLink="/login" routerLinkActive="active"></i>
        <i *ngIf="loggedIn" class="bi bi-person" routerLink="/profile" routerLinkActive="active"></i></h4>
      </div>
    </div>

  </div> -->
  <!-- <div class="scrollmenu">
    <i class="bi bi-house"></i>
    <a class="nav-link btnm" routerLink="/"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
      <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
      <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
    </svg></a>
    <a class="nav-link btnm" routerLink="/all" routerLinkActive="active-link">All Movies</a>
    <a class="nav-link btnm" routerLink="/movielist" routerLinkActive="active-link">Movie's Lists</a> 
    <a class="nav-link btnm" routerLink="/personal" routerLinkActive="active-link">Personal</a> 
    <a class="nav-link btnm" routerLink="/login" routerLinkActive="active-link" *ngIf="!loggedIn">LogIn</a> 
    <a class="nav-link btnm" routerLink="/signup" routerLinkActive="active-link" *ngIf="!loggedIn">Sign Up</a> 
    <a class="nav-link btnm" (click)="logout()" routerLinkActive="active-link" *ngIf="loggedIn">Log Out!</a> 
  </div> -->
</div>
<div *ngIf="!isMobile">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(31,37,51);">
    <a class="navbar-brand" routerLink="/admin" style="color: white;">Suggesto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContentfooter" aria-controls="navbarSupportedContentfooter" aria-expanded="false" aria-label="Toggle navigation" style="color: white;">
        <span class="navbar-toggler-icon" id="footerid"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContentfooter">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"  data-toggle="collapse" data-target="#navbarSupportedContentfooter">
          <a class="nav-link btnm" routerLink="/" style="color: white;">
            Home</a>
      </li>
      <li class="nav-item"  data-toggle="collapse" data-target="#navbarSupportedContentfooter">
        <a class="nav-link btnm" routerLink="/all" style="color: white;">Search</a>
      </li>
      <li class="nav-item"  data-toggle="collapse" data-target="#navbarSupportedContentfooter">
        <a class="nav-link btnm" routerLink="/movielist" style="color: white;">Lists</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target="#navbarSupportedContentfooter">
        <a *ngIf="loggedIn" class="nav-link btnm" routerLink="/profile" style="color: white;">Profile</a>
        <a *ngIf="!loggedIn" (click)="logout()" class="nav-link btnm" style="color: white;">Log out!</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target="#navbarSupportedContentfooter">
        <a class="nav-link btnm" routerLink="/board" style="color: white;" >MovieBuff Board</a>
      </li>
      <li class="nav-item"  data-toggle="collapse" data-target="#navbarSupportedContentfooter">
        <a class="nav-link btnm" routerLink="/news-feed" style="color: white;">Feed</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0"  data-toggle="collapse" data-target="#navbarSupportedContentfooter">
        <a class="nav-link" routerLink="/aboutus" style="color: white;">About Us 
          <span class="badge badge-dark">New</span>
      </a>
    </form>
    </div>
  </nav>
  
</div>