<div *ngIf="loginLoad" style="position: absolute;top: 70px;left: 0;width: 100%;height: 100%;z-index: 2;background-color: #fff;
background-color: rgba(255,255,255,0.5)">
  <div style="display: flex;justify-content: center;align-items: center;height: 90%;">
  <img src="../../../../assets/loading animation/1475.gif" style="opacity: 1;"></div>
</div>
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first" style="margin: 5%;">
        <img src="../../../../assets/images/logo.jpg" style="height: 60px;width: 60px;border-radius: 10px;" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="Email" [(ngModel)]="email" #Email="ngModel" placeholder="E-mail Id">
        <input type="text" id="password" class="fadeIn third" name="Pass" [(ngModel)]="password" #Pass="ngModel" placeholder="Password">
        <!-- <input type="submit" class="fadeIn fourth" value="Log In"> -->
        <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" (click)="submit()" style="margin: 2%;">
            Login
        </button>
        
      </form>
      <!-- <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" (click)="loginWithGoogle()" style="margin: 2%;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
          <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
        </svg> Sign in with Google <i class="fa fa-google" aria-hidden="true"></i>
      </button> -->

      <div class="or-container">
        <div class="line-separator"></div>
        <div class="or-label">OR</div>
        <div class="line-separator"></div>
      </div>

      <a (click)="loginWithGoogle()" class="google btn"><i class="bi bi-google"></i> - Login with Google
      </a>

      <a (click)="loginWithFacebook()" class="fb btn"><i class="bi bi-facebook"></i> - Login with Facebook
      </a>

      <a (click)="loginWithGithub()" class="twitter btn"><i class="bi bi-github"></i> - Login with Github
      </a>
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink="/resetPassword">Forgot Password?</a>
      </div>
  
    </div>
  </div>



  