<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<div class="container">
<div class="row text-center">
    <img class="img-responsive apps-header-image" width="170" height="170" hei src="../../../assets/images/logo2.png"/>
    <img class="img-responsive apps-header-image" width="170" height="170" style="border-radius: 100px;" src="../../../assets/images/logo.jpg"/>

            <div class="col-md-10 col-md-offset-1">
                <h1>Download the Suggesto app</h1>

                <div class="btn-wrapper text-center">
                    <p> Available from the Google Play Store.<p>
                    <p>Suggesto is free to download and free to use. Wae suggest hand picked movies every weekend and personalised movies for logged in customers and lot lot more.<p>
                    <!-- <p> Get a <a href="/plus">TVPlayer Plus</a> subscription to watch 106  premium channels not on Freeview or Freesat.<p> -->
                    <!-- <a class="btn" href="https://itunes.apple.com/gb/app/tvplayer/id710530377?mt=8"><img class="img-responsive store" src="https://assets.tvplayer.com/web/images/new-theme/appstore-md.png" alt="Download TVPlayer onto your iPhone, iPad or iPod Touch"></a> -->
                    <a class="btn" href="https://play.google.com/store/apps/details?id=xyz.appmaker.jibpca"><img class="img-responsive store" src="https://assets.tvplayer.com/web/images/new-theme/google-play-md.png" alt="Download Suggesto onto your Android mobile or tablet"></a>
                    <a role="button" class="btn btn-sm btn-dark" style="color: white;" href="https://firebasestorage.googleapis.com/v0/b/weekendmoviesuggestion.appspot.com/o/apk%2FSuggesto.apk?alt=media&token=22428e78-e203-4600-94bd-03016aa936f8">Download and install manually</a>
                    <!-- <a class="btn" href="http://www.amazon.co.uk/TV-Player-TVPlayer/dp/B00G6H6BTA"><img class="img-responsive store" src="https://assets.tvplayer.com/web/images/new-theme/amazon-logo-md.png" alt="Download TVPlayer onto your Amazon Fire or Amazon Fire TV"></a>
                    <a class="btn" href="https://www.microsoft.com/en-gb/store/p/tvplayer-watch-live-and-catchup-tv/9n20vfs0rh1p"><img class="img-responsive store" src="https://assets.tvplayer.com/web/images/new-theme/microsoft-logo-md.png" alt="Download TVPlayer onto your Windows10 enabled device"></a> -->
                </div>
        </div>
    </div>
    <div class="row underlay bg-grey">

    </div>
    <div class="row bg-red">
        <div class="col-md-12 text-center">
            <p class="apps-available">Suggesto is available on <a href="https://play.google.com/store/apps/details?id=xyz.appmaker.jibpca">Google Play Store</a>. You can download and use or you can visit our website <a href="https://weekendmoviesuggestion.web.app/home">here</a>. we offer all the features of app in webiste also.</p>
        </div>
    </div>

    
    <div class="row content bg-grey apps-row">
        <div class="col-md-6 text-left text-col">
            <img src="https://assets.tvplayer.com/web/images/new-theme/android-logo-2014-svg.png"/>
            <h2>Suggesto on Android</h2>
            <p>You can download and use Suggesto for completely free from google play store.</p>
            <p><a class="red-color" href="https://firebasestorage.googleapis.com/v0/b/weekendmoviesuggestion.appspot.com/o/apk%2Fcomingsoon2.jpg?alt=media&token=bdc140f0-a8d1-492d-b4b5-931e1592ad34">Download from the Google Play store</a></p>
            
        </div>
    </div>
    <div class="row content bg-white apps-row">
        <div class="col-md-6 text-left text-col">
            <img src="https://assets.tvplayer.com/web/images/new-theme/apple-grey-logo-small.png"/>
            <h2>Suggesto on iOS</h2>
            <p>We are trying to add Suggesto in apple store, until then you can use Suggesto at <a href="https://weekendmoviesuggestion.web.app/home">here</a></p>
            <p>You can Suggesto to Home screen from apple devices using ios supported 'add to home screen' feature, we support all the features in that manner too.</p>
            <small class="plus-box">COMING SOON</small>
            <!-- <p><a class="red-color" target="_blank" href="https://itunes.apple.com/gb/app/tvplayer-watch-live-and-catchup-tv/id710530377">Download from the App Store</a></p> -->
        </div>
    </div>
    <div class="row content bg-grey apps-row">
        <div class="col-md-6 text-left text-col">
            <img src="https://assets.tvplayer.com/web/images/new-theme/windows-logo-grey-small.png"/>
            <h2>TVPlayer on Windows 10</h2>
            <p>You can use <a href="https://weekendmoviesuggestion.web.app/home">Suggesto</a> in windows in any of the browsers or install Suggesto as PWA as suggested in <a href="https://medium.com/@dhormale/install-pwa-on-windows-desktop-via-google-chrome-browser-6907c01eebe4">this article.</a></p>
            <!-- <p><a class="red-color" target="_blank" href="https://www.microsoft.com/en-gb/store/p/tvplayer-watch-live-and-catchup-tv/9n20vfs0rh1p">Download the app from the Windows App Store</a></p> -->
        </div>
    </div>
</div>