<!-- <div class="logo-display">
  <a href="/"><img class="img-responsive" title="Swarna Mahal Admin" src="./../../../assets/logos/sm1-small.jpg"></a>
  <a style="color: black;padding-left: 2%;font-size:larger;text-decoration: none;" routerLink="/">Swarna Mahal Admin</a>
</div> -->
<div>
  <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="/" style="color: black;">
        <img src="../../../assets/images/logo.jpg" width="50px" height="50px" style="border-radius: 10px;">
        Suggesto
      </a>
      <button class="navbar-toggler" type="button"  style="background-color: rgb(233,236,239);" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link btnm" routerLink="/" style="color: black;">Home</a>
              </li>
              <!-- <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link btnm" routerLink="/telugu" routerLinkActive="active-link" style="color: black;">Telugu</a>
              </li>
              <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link btnm" routerLink="/tamil" routerLinkActive="active-link" style="color: black;">Tamil</a>
              </li>
              <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link btnm" style="color: black;" routerLink="/kannada" routerLinkActive="active-link">Kannada</a>
              </li>
              <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link btnm" style="color: black;" routerLink="/malayalam" routerLinkActive="active-link">Malayalam</a>
              </li> -->
              <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link btnm" style="color: black;" routerLink="/all" routerLinkActive="active-link">All Movies</a>
              </li>
              <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link btnm" style="color: black;" routerLink="/movielist" routerLinkActive="active-link">Movie's Lists</a>
              </li>
              <!-- <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link btnm" style="color: black;" routerLink="/info" routerLinkActive="active-link">Information</a>
              </li> -->
              <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link btnm" style="color: black;" routerLink="/suggest" routerLinkActive="active-link">Suggest a Movie</a>
              </li>
              <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link btnm" style="color: black;" routerLink="/people" routerLinkActive="active-link">People</a>
              </li>
              <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link btnm" style="color: black;" routerLink="/personal" routerLinkActive="active-link">Personal</a>
              </li>
              <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link btnm" style="color: black;" routerLink="/profile" routerLinkActive="active-link">Profile</a>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" style="margin-right: 4%;">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                      <a class="nav-link" routerLink="/aboutus" style="color: black;" routerLinkActive="active-link">About Us</a>
                  </li>
                  <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="!loggedIn">
                    <a class="nav-link" routerLink="/login" style="color: black;" routerLinkActive="active-link">Login</a>
                  </li>
                  <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="!loggedIn">
                    <a class="nav-link" routerLink="/signup" style="color: black;" routerLinkActive="active-link">Sign Up</a>
                  </li>
                  <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="loggedIn">
                    <a class="nav-link" routerLink="/signup" style="color: black;" routerLinkActive="active-link" (click)="logout()">Log Out!</a>
                  </li>
              </ul>
          </form>
      </div>
  </nav>
</div>

<!-- <div style="display: none;">If you are playing around in this area I see that you are interested in this stack. Dont worry this SPA is open source except for some areas and you can find this SPA source code in https://github.com/RohithReddy86/dineWithUs and if anywhere in source code anything asks for password it is MuRodinewuAnFiYtv3</div> -->

<!-- <div class="scrollmenu">
  <h5 class="nav-link btnm" routerLink="/">Suggesto</h5>
  <a class="nav-link btnm" routerLink="/">Home</a>
  <a class="nav-link btnm" routerLink="/telugu" routerLinkActive="active-link">Telugu</a>
  <a class="nav-link btnm" routerLink="/tamil" routerLinkActive="active-link">Tamil</a>
  <a class="nav-link btnm" routerLink="/kannada" routerLinkActive="active-link">Kannada</a>
  <a class="nav-link btnm" routerLink="/malayalam" routerLinkActive="active-link">Malayalam</a>
  <a class="nav-link btnm" routerLink="/all" routerLinkActive="active-link">All Movies</a>
  <a class="nav-link btnm" routerLink="/movielist" routerLinkActive="active-link">Movie's Lists</a> 
  <a class="nav-link btnm" routerLink="/personal" routerLinkActive="active-link">Personal</a> 
  <a class="nav-link btnm" routerLink="/login" routerLinkActive="active-link" *ngIf="!loggedIn">LogIn</a> 
  <a class="nav-link btnm" routerLink="/signup" routerLinkActive="active-link" *ngIf="!loggedIn">Sign Up</a> 
  <a class="nav-link btnm" (click)="logout()" routerLinkActive="active-link" *ngIf="loggedIn">Log Out!</a> 
  <a class="nav-link btnm" routerLink="/info" routerLinkActive="active-link">Information</a>
  <a href="#custom">Custom</a>
  <a href="#more">More</a>
  <a href="#logo">Logo</a>
  <a href="#friends">Friends</a>
  <a href="#partners">Partners</a>
  <a href="#people">People</a>
  <a href="#work">Work</a>
</div> -->
