<div style="min-height: 90vh;height: auto;background-color: rgba(39,39,39);color: white;display: flex;justify-content: center;flex-wrap: wrap;">
    <div style="margin-top: 10%;">
        <!-- <img src="../../../assets/images/dark4.PNG" width="100%" height="200px"> -->
        <div style="display: flex;justify-content: center;">
            <img src="../../../assets/images/logo512.png" style="border-radius: 1000px;" height="200px">
        </div>
        
        <br><br>
        <h3 class="text-center">Welcome to Suggesto!</h3>
        <br><br>
        <p class="text-center">Swipe through to know the features we offer completely for free.</p>
        <div style="display: flex;justify-content: center;">
            <img class="text-center" src="../../../assets/images/swipedown.gif" width="100px" height="150px">
        </div>
        <div style="bottom: 70px;width: 100%;">
            <div class="d-flex bd-highlight" (click)="this.router.navigateByUrl('/personalisation')" style="background-color: rgba(90, 89, 89,1);border-radius: 10px;margin-left: 5%;margin-right: 5%;margin-bottom: 20px;color: white;">
                <div class="p-2 w-100 bd-highlight align-items-center"><h6>Skip and start with Personalisation</h6></div>
                <div class="p-2 flex-shrink-1 bd-highlight"><i class="bi bi-chevron-right"></i></div>
            </div>
        </div>        

        
    </div>
</div>

<div style="min-height: 100vh;height: auto;background-color: rgba(8,8,46,1);color: white;padding-top: 10%;">
    <br>
    <div style="display: flex;justify-content: center;">
        <img src="../../../assets/images/incognito.jpg" >
    </div>
    <h3 class="text-center">Incognito Mode</h3>
    <ul style="width: 90%;background-color: rgba(8,8,46,1);font-size: small;margin: 4%;">
        <li >
            <!-- We here at Suggesto are completely aware of your privacy concerns and we do implement them from core. -->
            You can choose to be anonymous inside suggesto, for that you need to disable 'Public mode' in settings tab in profile.
        </li>
        <li >
            Others users can't send you follow request and can't see your name or picture anywhere inside Suggesto if you disable 'Public mode' toggle in profile page. Even in MovieBuff board you name and picture will be hidden. You will be completely anonymous
        </li>
        <li >
            We don't show your wishlisted movies, watched movies to other users until you accept their follow request and enable 'share wishlist to followers' toggle to share wishlist to your followers and similarly enable 'share watched list to followers' toggle to share your watched movies to followers.
        </li>
    </ul>
    <div style="display: flex;justify-content: center;">
        <img class="text-center" src="../../../assets/images/swipedown.gif" width="100px" height="150px">
    </div>
</div>

<div style="min-height: 100vh;height: auto;background-color: rgb(104,188,199);padding-top: 10%;color: black;">
    <div style="display: flex;justify-content: center;">
        <img src="../../../assets/images/personalised3.png" height="300px" width="300px" >
    </div>
    <h3 class="text-center" style="color: black;">Personalised content</h3>
    <ul style="width: 90%;background-color: rgb(104,188,199);;margin: 4%;">
        <li>
           We suggest personalised content just for you based on you preferences you give in personalisation page. 
        </li>
        <li >
            You Suggestions improve when you mark movies that you have watched as 'watched' in Suggesto.
        </li>
        <li >
            These movies are unique for you and changes user to user based on their preferences. Other users can't see your personalised movies.
        </li>
    </ul>
    <div style="display: flex;justify-content: center;">
        <img class="text-center" src="../../../assets/images/swipedown.gif" width="100px" height="150px">
    </div>
</div>

<div style="min-height: 100vh;height: auto;background-color: rgb(255,207,97);padding-top: 10%;">
    <div style="display: flex;justify-content: center;">
        <img src="../../../assets/images/friends.jpg" height="300px" width="370px" >
    </div>
    <h3 class="text-center" style="color: black;">Friends and Family</h3>
    <ul style="width: 90%;margin: 4%;">
        <li>
           You can send follow request to your friends and family users who are also using suggesto.
        </li>
        <li >
            You can share your wishlist and watched list to them only if you accept their follow request.
        </li>
        <li >
            You can also share movies and list to users outside Suggesto with share buttons we integrated throughout the app.
        </li>
    </ul>
    <div style="display: flex;justify-content: center;">
        <img class="text-center" src="../../../assets/images/swipedown2.gif" width="100px" height="150px">
    </div>
</div>

<div style="min-height: 100vh;height: auto;background-color: rgb(224,112,81);padding-top: 2%;color: white;">
    <div style="display: flex;justify-content: center;">
        <img src="../../../assets/images/leaderboard.png" height="280px" width="370px" >
    </div>
    <h3 class="text-center" style="color: black;">MovieBuff Board</h3>
    <ul style="width: 90%;margin: 4%;">
        <li >
            We also provide a leaderboard called MovieBuff board in which all users are sorted on their scores.
        </li>
        <li >
            Users who enabled incognito mode name and photo are hidden in leaderboard. You can check your score in profile page.
        </li>
        <li>
           We use your wishlisted movies count, watched movies count and rated movies count to calculate you MovieBuff score.
        </li>
        
        <li>
            We also provide titles to users at top of leaderboard and present the top most user in leaderboard in home page corousel if he disabled incognito mode.
        </li>
    </ul>
    <div style="display: flex;justify-content: center;">
        <img class="text-center" src="../../../assets/images/swipedown.gif" width="100px" height="150px">
    </div>
</div>

<div style="min-height: 100vh;height: auto;background-color: rgb(21,153,251);padding-top: 10%;">
    <div style="display: flex;justify-content: center;">
        <img src="../../../assets/images/search.jpg" height="210px" width="370px" >
    </div>
    <h3 class="text-center" style="color: black;">Advanced Movie Searching</h3>
    <ul style="width: 90%;margin: 4%;">
        <li >
            We have also integrated an advanced search feature in Suggesto.
        </li>
        <li >
            You can search for movie in our search section based on 'movie title', 'cast', 'genre', 'year of release', 'OTT', 'key words' and language.
        </li>
        <li>
           There are also filters which you can use to filter out movies based on year, genre and language.
        </li>
    </ul>
    <div style="display: flex;justify-content: center;">
        <img class="text-center" src="../../../assets/images/swipedown.gif" width="100px" height="150px">
    </div>
</div>

<div style="min-height: 100vh;height: auto;background-color: rgb(243,214,174);padding-top: 10%;">
    <div style="display: flex;justify-content: center;">
        <img src="../../../assets/images/list.jpg" height="260px" width="370px" >
    </div>
    <h3 class="text-center" style="color: black;">Custom Movie Lists</h3>
    <ul style="width: 90%;margin: 4%;">
        <li >
            You can also create a custom movie lists and include any of the movies in them.
        </li>
        <li >
            If it is a series like 'Lord of rings', you can enable is this series tiggle so that the movies will be displayed in ascending order based on release year.
        </li>
        <li>
           You can access lists created by you and delete them from profile page. click on 'Lists Created By You' to go to lists page where your lists will be there to add and delete.
        </li>
        <li>
            You can also share these lists to people outside Suggesto with share button below the list.
        </li>        
        <li>
            All the users are allowed to see these list in lists tab and we don't show who created those lists. Other people can't edit lists created by you.
        </li>
    </ul>
    <br><br>
    <div class="d-flex bd-highlight" (click)="this.router.navigateByUrl('/personalisation')" style="background-color: rgba(90, 89, 89,1);border-radius: 10px;margin-left: 5%;margin-right: 5%;margin-bottom: 20px;color: white;">
        <div class="p-2 w-100 bd-highlight"><h6>Let's start with Personalisation.</h6></div>
        <div class="p-2 flex-shrink-1 bd-highlight"><i class="bi bi-chevron-right"></i></div>
    </div>
    <br><br>
</div>