.prof-flex
{
    margin: 1%;
}

.nums > .nums-inside{
    margin: 2%;
    margin-right: 5%;
    font-size: large;
    margin-bottom: 0%;
}

.nums-inside > p
{
    font-size: small;
}

.nums-inside > h6
{
    align-items: center;
}

.list-item
{
    background-color: rgba(90, 89, 89, 0.76);
    // min-width: 100px;
    // height: 100px;
    border-radius: 10px;
    margin: 2%;
    padding: 2%;
    // display: flex;

    // justify-content: center;
    // align-items: center;
}

.content-item
{
    margin: 2%;
}

.content-item > h4
{
    margin-left: 5%;
    margin-top: 3%;
}

.scrolling-wrapper3 {
    //border: 2px solid black;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    .item3 {
      display: inline-block;
    }

    .item3-1{
      display: inline-block;
    }
  }
  .item3
  {
    //min-width: 100px;
    padding: 10px;
  }
  .item3-1
  {
    // min-width: 50px;
    padding: 10px;
  }

  .long-word
  {
    vertical-align:middle;
  }





.content
{
  background-image: url(https://image.tmdb.org/t/p/w500/eAdO0qa9m0NFSVLZ26PvCwmPlsr.jpg);
  background-position: center; 

}


//box shadow effect 7 css tricks
.effect7
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}












//for slider
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }