<!-- <div *ngIf="loading">
    <img class="d-block w-100" src="../../../assets/movie.gif" alt="Loading" style="height:fit-content;width: auto;">
</div> -->
<div style="margin-bottom: 60px;">
<div *ngIf="loading" style="position: absolute;top: 70px;left: 0;width: 100%;height: 100%;z-index: 2;background-color: #fff;
background-color: rgba(255,255,255,0.5)">
  <div style="display: flex;justify-content: center;align-items: center;height: 90%;">
  <img src="../../../../assets/loading animation/Walk.gif" style="opacity: 1;"></div>
</div>
<div *ngIf="!loading">
    <div class="container">
        <h5 class="text-center">People</h5>
        </div>
        <div *ngIf="isMobile" class="container" style="margin-bottom: 70px;">
            <div class="profile">
                <div class="profile-header">
                    <div class="profile-header-cover"></div>
                    <div class="profile-header-content">
                        <div class="profile-header-img">
                            <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" /> -->
                            <img  src="{{currentCustomer.customerPhotoUrl}}" alt="{{currentCustomer.name}}" />
                        </div>
                        <p>Name : <span>{{currentCustomer.name | titlecase}}</span></p>
                        <!-- <p>Email : {{currentCustomer.email}}</p> -->
                        <p>Your Wishlisted Movies : {{myWCount}}</p>
                        <p>Share your wishlist to people and include in MovieBuff Board :               
                        <label class="switch">
                          <input type="checkbox" (change)="UpdateCustomerWhenSharingEvent()" [(ngModel)]="share" name="Adventure">
                          <span class="slider round"></span>
                        </label></p><br>
                        <ul class="profile-header-tab nav nav-tabs nav-tabs-v2">
                            <li class="nav-item">
                                <a class="nav-link">
                                    <div class="nav-field" style="font-size: medium;" (click)="wishSelect()">Wishlists</div>
                                    <!-- <div class="nav-value" style="font-size: small;">Note : Other people can see your wishlist only if you enable 'share wishlist' above.</div> -->
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">
                                    <div class="nav-field" style="font-size: medium;" (click)="leaderSelect()">MovieBuff Board</div>
                                    <!-- <div class="nav-value" style="font-size: small;">Note : Other people can see your wishlist only if you enable 'share wishlist' above.</div> -->
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
          
                <div class="profile-container">
                    <!-- <div class="profile-sidebar">
                        <div class="desktop-sticky-top">
                            <h4>John Smith</h4>
                            <div class="font-weight-600 mb-3 text-muted mt-n2">@johnsmith</div>
                            <p>
                                Principal UXUI Design &amp; Brand Architecture for Studio. Creator of SeanTheme. Bringing the world closer together. Studied Computer Science and Psychology at Harvard University.
                            </p>
                            <div class="mb-1"><i class="fa fa-map-marker-alt fa-fw text-muted"></i> New York, NY</div>
                            <div class="mb-3"><i class="fa fa-link fa-fw text-muted"></i> seantheme.com/studio</div>
                            <hr class="mt-4 mb-4" />
                        </div>
                    </div> -->
          
                    <div class="profile-content">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="tab-content p-0">
                                    <div class="tab-pane fade active show" id="profile-followers">
                                        <div class="list-group" *ngIf="wishbool">
                                            <h6>People Who shared their Wishlisted Movies</h6>
                                            <div class="nav-value" style="font-size: small;">Note : Other people can see your wishlist only if you enable 'share your wishlist to people' above.</div>
                                            <div *ngFor="let m of allCustomers" class="list-group-item d-flex align-items-center">
                                                <img src="{{m.customerPhotoUrl}}" alt="{{m.name}}" width="50px" class="rounded-sm ml-n2" />
                                                <div class="flex-fill pl-3 pr-3">
                                                    <div><a (click)="goto(m.key)" class="text-dark font-weight-600">{{m.name | titlecase}}</a></div>
                                                    <div *ngIf="m.wishlistedMovies" class=" fs-13px" style="font-size: small;">WishListed Movies : {{m.wishlistedMovies.length}}</div>
                                                    <div *ngIf="!m.wishlistedMovies" class=" fs-13px" style="font-size: small;">WishListed Movies : 0</div>
                                                    <!-- <div class=" fs-13px" style="font-size: x-small;">{{m.email}}</div> -->
                                                </div>
                                                <a (click)="goto(m.key)" *ngIf="m.wishlistedMovies" class="btn btn-outline-primary">Go</a>
                                            </div>                                  
                                        </div>
                                    </div>
                                    <div class="tab-pane fade active show" id="profile-followers">
                                        <div class="list-group" *ngIf="leaderbool">
                                            <h6>MovieBuff Board</h6>
                                            <div class="nav-value" style="font-size: small;">Note : We don't show other users what movies you have watched.</div>
                                            <div *ngFor="let m of allCustomersScoreSorted" class="list-group-item d-flex align-items-center">
                                                <img src="{{m.customerPhotoUrl}}" alt="{{m.name}}" width="50px" class="rounded-sm ml-n2" />
                                                <div class="flex-fill pl-3 pr-3">
                                                    <div><a class="text-dark font-weight-600">{{m.name | titlecase}}</a></div>
                                                    <div *ngIf="m.watchedMovies" class=" fs-13px" style="font-size: small;">Watched Movies : {{m.watchedMovies.length}}</div>
                                                    <!-- <div *ngIf="!m.watchedMovies" class=" fs-13px" style="font-size: small;">Watched Movies : 0</div> -->
                                                    <!-- <div class=" fs-13px" style="font-size: x-small;">{{m.email}}</div> -->
                                                </div>                                                
                                            </div>                                  
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="tab2-content p-0">
                                  <div class="tab2-pane fade active show" id="profile-followers">
                                      <div class="list-group">
                                          <div *ngFor="let m of ratedMoviesDisplay" class="list-group-item d-flex align-items-center">
                                              <img src="{{m.smallImageUrl}}" alt="" width="50px" height="70px" class="rounded-sm ml-n2" />
                                              <div class="flex-fill pl-3 pr-3">
                                                  <div><a href="#" class="text-dark font-weight-600">hahahaha</a></div>
                                                  <div class="text-muted fs-13px">{{m.releaseYear}}</div>
                                              </div>
                                              <a (click)="goto(m.key)" class="btn btn-outline-primary">Visit</a>
                                          </div>                                  
                                      </div>
                                      <div class="text-center p-3">
                                          <a href="#" class="text-dark text-decoration-none">Show more <b class="caret"></b></a>
                                      </div>
                                  </div>
                              </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <!--for laptop below-->
        <div *ngIf="!isMobile" class="container" style="margin-bottom: 70px;">
            <div class="profile">
                <div class="profile-header">
                    <div class="profile-header-cover"></div>
                    <div class="profile-header-content">
                        <div class="profile-header-img">
                            <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" /> -->
                            <img  src="{{currentCustomer.customerPhotoUrl}}" alt="" />
                        </div><br>
                        <ul class="profile-header-tab nav nav-tabs nav-tabs-v2">
                        </ul>
                    </div>
                </div>
          
                <div class="profile-container">
                    <div class="profile-sidebar">
                        <div class="desktop-sticky-top">
                            <h4>{{currentCustomer.name | titlecase}}</h4>
                            <!-- <div class="font-weight-600 mb-3 text-muted mt-n2">{{currentCustomer.email}}</div> -->
                            <p>Your Wishlisted Movies : {{myWCount}}</p>
                            <p>Share your wishlist to people :               
                            <label class="switch">
                              <input type="checkbox" (change)="UpdateCustomerWhenSharingEvent()" [(ngModel)]="share" name="Adventure">
                              <span class="slider round"></span>
                            </label></p>
                            <hr class="mt-4 mb-4" />
                        </div>
                    </div>
          
                    <div class="profile-content">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="tab-content p-0">
                                    <div class="tab-pane fade active show" id="profile-followers">
                                        <div class="list-group">
                                            <h6>People Who shared their Wishlisted Movies</h6>
                                            <div *ngFor="let m of allCustomers" class="list-group-item d-flex align-items-center">
                                                <img src="{{m.customerPhotoUrl}}" alt="{{m.name}}" width="50px" class="rounded-sm ml-n2" />
                                                <div class="flex-fill pl-3 pr-3">
                                                    <div><a class="text-dark font-weight-600">{{m.name | titlecase}}</a></div>
                                                    <div *ngIf="m.wishlistedMovies" class=" fs-13px" style="font-size: small;">WishListed Movies : {{m.wishlistedMovies.length}}</div>
                                                    <div *ngIf="!m.wishlistedMovies" class=" fs-13px" style="font-size: small;">WishListed Movies : 0</div>
                                                    <!-- <div class=" fs-13px" style="font-size: x-small;">{{m.email}}</div> -->
                                                </div>
                                                <a (click)="goto(m.key)" *ngIf="m.wishlistedMovies" class="btn btn-outline-primary">Go</a>
                                            </div>                                  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        
</div>
<app-tamil></app-tamil>
</div>