<!-- <p>-----------------------------------------------------------------------------------------------------------------------------</p> -->
<!-- <p>main suggestion for that day</p> -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <!-- <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
  </ol> -->
  <div class="carousel-inner">
    <div class="carousel-item active">      
      <span *ngIf="todayBooleanMovie && loading">
        <img class="d-block w-100" src="../../../assets/images/loadinggif4.gif" alt="Loading">
      </span>
      <span *ngIf="todayBooleanMovie && !loading">
        <img class="d-block w-100" src="../../../assets/images/nomovietoday.PNG" alt="No Movie Today">
      </span>
      <span *ngIf="!todayBooleanMovie && !loading">
        <a (click)="GoToMovie(this.todayMovie.key)">
        <img class="d-block w-100" src="{{this.todayMovie.imageUrl}}" alt="{{this.todayMovie.title}}"></a>
        <div style="display: flex;justify-content: center;flex-wrap: nowrap;">
          <h3>{{this.todayMovie.title}}</h3>
        </div>
      </span>
      
      <!-- <p>show details of suggested movies in below div</p> -->

    </div>
  </div>
</div>
<hr>
<!-- MODAL STARTS HERE --> 

<!--its very buggy may need to go to different approach for modals in home page-->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Man Of Steel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/T6DJcgm3wNY?rel=0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MODAL ENDS HERE -->

<div *ngIf="!loading">
  <h3 class="text-center display-8">Recently Suggested Movies From Us</h3>
  <div class="scrolling-wrapper">
    <!-- <div style="display: flex;flex-wrap: nowrap;"> -->
      <div class="card2" *ngFor="let movie of sortedArray">
        <div class="movie-card">
          <!-- <div class="movie-header manOfSteel" style="background-image: url(movie.smallImageUrl);"> -->
            <a (click)="GoToMovie(movie.key)">
          <div class="movie-header manOfSteel" [ngStyle]="{'background-image': 'url(' + movie.smallImageUrl + ')'}">
            <div class="header-icon-container">          
            </div>
          </div></a><!--movie-header-->
          <div class="movie-content">
            <div class="movie-content-header">
              <a>
                <p class="movie-title">{{movie.title}}</p>
              </a>
              
              <!-- <div class="imax-logo">Watch Trailer</div> ORIGINAL BEFORE MODAL, PASTE THIS LINE IF WE REMOVE BOOTSTRAP MODAL AND REMOVE ABOVE LINE -->
            </div>
            <div class="movie-info" style="font-size:small;">
              <div>
                <label>Language : </label>
                <span><b> {{movie.language}}</b></span>
              </div>
              <div>
                <label>Genre : </label>
                <span><b> {{movie.genre}}</b></span>
              </div>
              <div>
                <label>Suggested Date : </label>
                <span><b> {{movie.suggestedDate}}</b></span>
              </div>
            </div>
              <div>
                <div class="imax-logo" data-toggle="modal" data-target="#exampleModalCenter"><a>Watch Trailer</a></div>
              </div>            
          </div>
        </div>  
      </div>  
    </div>
</div>


<!---movies lists from ts file here-->
<div *ngFor="let list of editorsChoice">
  <h3 class="text-center display-8">{{list.listName}}</h3>
  <div class="scrolling-wrapper">
    <!-- <div style="display: flex;flex-wrap: nowrap;"> -->
      <div class="card2" *ngFor="let movie of list.moviesInList">
        <div class="movie-card">
          <!-- <div class="movie-header manOfSteel" style="background-image: url(movie.smallImageUrl);"> -->
            <a (click)="GoToMovie(movie.key)">
          <div class="movie-header manOfSteel" [ngStyle]="{'background-image': 'url(' + movie.smallImageUrl + ')'}">
            <div class="header-icon-container">          
            </div>
          </div></a><!--movie-header-->
          <div class="movie-content">
            <div class="movie-content-header">
              <a>
                <p class="movie-title">{{movie.title}}</p>
              </a>
              
              <!-- <div class="imax-logo">Watch Trailer</div> ORIGINAL BEFORE MODAL, PASTE THIS LINE IF WE REMOVE BOOTSTRAP MODAL AND REMOVE ABOVE LINE -->
            </div>
            <div class="movie-info" style="font-size:small;">
              <div>
                <label>Language : </label>
                <span><b> {{movie.language}}</b></span>
              </div>
              <div>
                <label>Genre : </label>
                <span><b> {{movie.genre}}</b></span>
              </div>
              <div>
                <label>Year of Release : </label>
                <span><b> {{movie.releaseYear}}</b></span>
              </div>
            </div>
              <div>
                <div class="imax-logo" data-toggle="modal" data-target="#exampleModalCenter"><a>Watch Trailer</a></div>
              </div>            
          </div>
        </div>  
      </div>  
    </div>
</div>


<!---ts file movie list end here-->
<!--all below html is static-->

