<!-- <p>-----------------------------------------------------------------------------------------------------------------------------</p> -->
<!-- <p>main suggestion for that day</p> -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <!-- <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
  </ol> -->
  <div class="carousel-inner">
    <div class="carousel-item active">      
      <span *ngIf="todayBooleanMovie && loading">
        <img class="d-block w-100" src="../../../assets/images/loadinggif4.gif" alt="Loading">
      </span>
      <span *ngIf="todayBooleanMovie && !loading">
        <img class="d-block w-100" src="../../../assets/images/nomovietoday.PNG" alt="No Movie Today">
      </span>
      <span *ngIf="!todayBooleanMovie && !loading">
        <a (click)="GoToMovie(this.todayMovie.key)">
        <img class="d-block w-100" src="{{this.todayMovie.imageUrl}}" alt="{{this.todayMovie.title}}"></a>
        <div style="display: flex;justify-content: center;flex-wrap: nowrap;">
          <h5>{{this.todayMovie.title}}</h5><br>          
        </div>
        <div style="display: flex;justify-content: center;flex-wrap: nowrap;">
          <h6 class="text-muted text-centre">"{{this.todayMovie.description}}"</h6>         
        </div>
        
        <div class="row" style="margin-left: 3%;margin-right: 3%;margin-top: 0;">
          <div class="col-sm-6">
            <p><b>Language : </b>{{this.todayMovieD.language}}</p>
            <p><b>Genre : </b>{{this.todayMovieD.genre}}</p>
          </div>
          <div class="col-sm-6">
            <p><b>Released Year : </b>{{this.todayMovieD.releaseYear}}</p>
            <p><b>Trailer : </b><button type="button" class="btn btn-outline-primary btn-sm" (click)="GoToMovie(this.todayMovieD.key)">Watch here</button></p>
          </div>
        </div>
      </span>
      
      <!-- <p>show details of suggested movies in below div</p> -->

    </div>
  </div>
  <hr *ngIf="!loading">
</div>

<!-- MODAL STARTS HERE --> 

<!--its very buggy may need to go to different approach for modals in home page-->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Man Of Steel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/T6DJcgm3wNY?rel=0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MODAL ENDS HERE -->

<!--very important for responsive ness between mobile and laptop-->
<span *ngIf="isMobile">
      <!--testing-->
    <div *ngIf="!loading">
      <h5 class="text-center display-8">Recently Suggested Movies From Us</h5>
      <div class="scrolling-wrapper2">
        <span *ngFor="let movie of sortedArray">
          <div class="item">
            <a (click)="GoToMovie(movie.key)"><img src="{{movie.smallImageUrl}}" class="img-thumbnail" style="height: 210px;width: 150px;"></a>
            <h6 style="text-align: center;">{{movie.title}}</h6>  
          </div>     
        </span>    
      </div>
    </div>
    <!--testing end here-->

    <!--find now-->
    <div *ngIf="!loading" style="margin-top: 3%;margin-bottom: 3%;">
      <div class="d-flex" style="margin-left: 5%;margin-right: 5%;">
        <div class="p-2"><h5 class="text-center display-8">Find Now</h5></div>
        <div class="ml-auto p-2">
          <div class="float-right" style="margin-right:3% ;">
            <span class="badge badge-light">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg>
            </span>
          </div>
        </div>
      </div>
      <div class="scrolling-wrapper3">
        <span *ngFor="let g of allGenres">
          <div class="genre-icon" style="margin: 2%;">
            <!-- <a (click)="GoToMovie(movie.key)"><img src="{{movie.smallImageUrl}}" class="img-thumbnail" style="height: 210px;width: 150px;"></a> -->
            <button type="button" class="btn btn-outline-primary" (click)="GoToGenre(g)">{{g}}</button>
          </div>      
        </span>   
      </div>
    </div>
    <!--find now end here-->

    <!--location based lists-->
    <div class="d-flex" style="margin-left: 5%;margin-right: 5%;" *ngIf="!loading">
      <div class="p-2"><h5 class="text-center display-8">Location based Movies <span class="badge badge-light"> beta</span></h5>
        <small id="emailHelp" class="form-text text-muted">Preferred Language : {{locationPreferreLanguage}}</small>
      </div>
      <div class="ml-auto p-2">
        <div class="float-right" style="margin-right:3% ;">
          <span class="badge badge-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="!locationAccess && !loading" style="display: flex;justify-content: center;">
      <button type="button" class="btn btn-outline-dark" (click)="buildMovieSuggestionBasedOnLocation()">See Location based content</button>
    </div>
    <div *ngIf="locationAccess && !loading" class="scrolling-wrapper3">
      <div class="scrolling-wrapper2">
        <span *ngFor="let movie of locationBasedMovies">
          <div class="item">
            <a (click)="GoToMovie(movie.key)"><img src="{{movie.smallImageUrl}}" class="img-thumbnail" style="height: 210px;width: 150px;"></a>
            <h6 style="text-align: center;">{{movie.title}}</h6>  
          </div>     
        </span>    
      </div>
    </div>
    
    <!--location ends here-->


    <div *ngFor="let list of editorsChoice">
      
      <div class="d-flex" style="margin-left: 5%;margin-right: 5%;">
        <div class="p-2"><h5 class="text-center display-8">{{list.listName}}</h5></div>
        <div class="ml-auto p-2">
          <div class="float-right" style="margin-right:3% ;">
            <span class="badge badge-light">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg>
            </span>
          </div>
        </div>
      </div>
      <div class="scrolling-wrapper2">
          <span *ngFor="let movie of list.moviesInList">
            <div class="item">
              <a (click)="GoToMovie(movie.key)"><img src="{{movie.smallImageUrl}}" class="img-thumbnail" style="height: 210px;width: 150px;"></a>
              <h6 style="text-align: center;">{{movie.title}}</h6>  
            </div>     
          </span> 
 
        </div>
    </div>


</span>

<!--------------------------------------------------------LAPTOP BELOW -------------------------------------------------------------->
<span *ngIf="!isMobile">


<div *ngIf="!loading">
  <div class="d-flex" style="margin-left: 5%;margin-right: 5%;">
    <div class="p-2"><h3 class="text-center display-8">Recently Suggested Movies From Us</h3></div>
    <div class="ml-auto p-2">
      <div class="float-right" style="margin-right:3% ;">
        <span class="badge badge-light">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </span>
      </div>
    </div>
  </div>
  <div class="scrolling-wrapper">
    <!-- <div style="display: flex;flex-wrap: nowrap;"> -->
      <div class="card2" *ngFor="let movie of sortedArray">
        <div class="movie-card">
          <!-- <div class="movie-header manOfSteel" style="background-image: url(movie.smallImageUrl);"> -->
            <a (click)="GoToMovie(movie.key)">
          <div class="movie-header manOfSteel" [ngStyle]="{'background-image': 'url(' + movie.smallImageUrl + ')'}">
            <div class="header-icon-container">          
            </div>
          </div></a><!--movie-header-->
          <div class="movie-content">
            <div class="movie-content-header">
              <a>
                <p class="movie-title">{{movie.title}}</p>
              </a>
              
              <!-- <div class="imax-logo">Watch Trailer</div> ORIGINAL BEFORE MODAL, PASTE THIS LINE IF WE REMOVE BOOTSTRAP MODAL AND REMOVE ABOVE LINE -->
            </div>
            <div class="movie-info" style="font-size:small;">
              <div>
                <label>Language : </label>
                <span><b> {{movie.language}}</b></span>
              </div>
              <div>
                <label>Genre : </label>
                <span><b> {{movie.genre}}</b></span>
              </div>
              <div>
                <label>Suggested Date : </label>
                <span><b> {{movie.suggestedDate}}</b></span>
              </div>
            </div>
              <div>
                <div class="imax-logo" data-toggle="modal" data-target="#exampleModalCenter"><a>Watch Trailer</a></div>
              </div>            
          </div>
        </div>  
      </div>  
    </div>
</div>
  <!--find now-->
  <div *ngIf="!loading" style="margin-top: 3%;margin-bottom: 3%;">
    <div class="d-flex" style="margin-left: 5%;margin-right: 5%;">
      <div class="p-2"><h3 class="text-center display-8">Find Now</h3></div>
      <div class="ml-auto p-2">
        <div class="float-right" style="margin-right:3% ;">
          <span class="badge badge-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>
          </span>
        </div>
      </div>
    </div>
    <div class="scrolling-wrapper3" style="margin-left: 4%;">
      <span *ngFor="let g of allGenres">
        <div class="genre-icon" style="margin: 1%;">        
          <button type="button" class="btn btn-outline-primary" (click)="GoToGenre(g)">{{g}}</button>
        </div>      
      </span>   
    </div>
  </div>
  <!--find now end here-->

  <div *ngIf="!loading && locationAccess">
    <div class="d-flex" style="margin-left: 5%;margin-right: 5%;">
      <div class="p-2">
        <h3 class="text-center display-8">Location Based Movies <span class="badge badge-light"> beta</span></h3>
        <small id="emailHelp" class="form-text text-muted">Preferred Language : {{locationPreferreLanguage}}</small>
      </div>
      <div class="ml-auto p-2">
        <div class="float-right" style="margin-right:3% ;">
          <span class="badge badge-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>
          </span>
        </div>
      </div>
    </div>
    <div class="scrolling-wrapper">
      <!-- <div style="display: flex;flex-wrap: nowrap;"> -->
        <div class="card2" *ngFor="let movie of locationBasedMovies">
          <div class="movie-card">
            <!-- <div class="movie-header manOfSteel" style="background-image: url(movie.smallImageUrl);"> -->
              <a (click)="GoToMovie(movie.key)">
            <div class="movie-header manOfSteel" [ngStyle]="{'background-image': 'url(' + movie.smallImageUrl + ')'}">
              <div class="header-icon-container">          
              </div>
            </div></a><!--movie-header-->
            <div class="movie-content">
              <div class="movie-content-header">
                <a>
                  <p class="movie-title">{{movie.title}}</p>
                </a>
                
                <!-- <div class="imax-logo">Watch Trailer</div> ORIGINAL BEFORE MODAL, PASTE THIS LINE IF WE REMOVE BOOTSTRAP MODAL AND REMOVE ABOVE LINE -->
              </div>
              <div class="movie-info" style="font-size:small;">
                <div>
                  <label>Language : </label>
                  <span><b> {{movie.language}}</b></span>
                </div>
                <div>
                  <label>Genre : </label>
                  <span><b> {{movie.genre}}</b></span>
                </div>
                <div>
                  <label>Suggested Date : </label>
                  <span><b> {{movie.suggestedDate}}</b></span>
                </div>
              </div>
                <div>
                  <div class="imax-logo" data-toggle="modal" data-target="#exampleModalCenter"><a>Watch Trailer</a></div>
                </div>            
            </div>
          </div>  
        </div>  
      </div>
  </div>
  
  <div *ngIf="!locationAccess && !loading" style="display: flex;justify-content: center;">
    <button type="button" class="btn btn-outline-dark" (click)="buildMovieSuggestionBasedOnLocation()">See Location based content</button>
  </div>


<!---movies lists from ts file here-->
<div *ngFor="let list of editorsChoice">
  
  <div class="d-flex" style="margin-left: 5%;margin-right: 5%;">
    <div class="p-2"><h3 class="text-center display-8">{{list.listName}}</h3></div>
    <div class="ml-auto p-2">
      <div class="float-right" style="margin-right:3% ;">
        <span class="badge badge-light">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </span>
      </div>
    </div>
  </div>
  <div class="scrolling-wrapper">
    <!-- <div style="display: flex;flex-wrap: nowrap;"> -->
      <div class="card2" *ngFor="let movie of list.moviesInList">
        <div class="movie-card">
          <!-- <div class="movie-header manOfSteel" style="background-image: url(movie.smallImageUrl);"> -->
            <a (click)="GoToMovie(movie.key)">
          <div class="movie-header manOfSteel" [ngStyle]="{'background-image': 'url(' + movie.smallImageUrl + ')'}">
            <div class="header-icon-container">          
            </div>
          </div></a><!--movie-header-->
          <div class="movie-content">
            <div class="movie-content-header">
              <a>
                <p class="movie-title">{{movie.title}}</p>
              </a>
              
              <!-- <div class="imax-logo">Watch Trailer</div> ORIGINAL BEFORE MODAL, PASTE THIS LINE IF WE REMOVE BOOTSTRAP MODAL AND REMOVE ABOVE LINE -->
            </div>
            <div class="movie-info" style="font-size:small;">
              <div>
                <label>Language : </label>
                <span><b> {{movie.language}}</b></span>
              </div>
              <div>
                <label>Genre : </label>
                <span><b> {{movie.genre}}</b></span>
              </div>
              <div>
                <label>Year of Release : </label>
                <span><b> {{movie.releaseYear}}</b></span>
              </div>
            </div>
              <div>
                <div class="imax-logo" data-toggle="modal" data-target="#exampleModalCenter"><a>Watch Trailer</a></div>
              </div>            
          </div>
        </div>  
      </div>  
    </div>
</div>
<!---ts file movie list end here-->
</span>

