<!-- <p>main suggestion for that day</p> -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <!-- <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
  </ol> -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="./../../../assets/img/news3.jpg" alt="First slide">
      <!-- <p>show details of suggested movies in below div</p> -->
      <div style="display: flex;justify-content: center;flex-wrap: nowrap;">
        <h1>Interstellar</h1>
        <!-- <h4>Genre : Sci-Fi</h4> -->
      </div>
    </div>
  </div>
</div>
<hr>

<!-- <p>movie cards goes down here, with sections</p> -->
<div style="display: flex;justify-content: center;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;margin-top: 20px;">
  <h1>Similar Movies</h1>
</div>

  <div class="container">
    <div class="movie-card">
      <div class="movie-header manOfSteel" style="background-image: url('http://henrycavill.org/images/Films/2013-Man-of-Steel/posters/3-Walmart-Superman-a.jpg');">
        <div class="header-icon-container">
      </div>
      </div><!--movie-header-->
      <div class="movie-content">
        <div class="movie-content-header">
          <a href="#">
            <h3 class="movie-title">Man of Steel</h3>
          </a>
          <div class="imax-logo">Watch Trailer</div>
        </div>
        <div class="movie-info">
          <div class="info-section">
            <label>Language</label>
            <span>English</span>
          </div>
          <div class="info-section">
            <label>Genre</label>
            <span>Superhero,Action</span>
          </div>
          <div class="info-section">
            <label>Year of Release</label>
            <span>2019</span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="movie-card">
      <div class="movie-header babyDriver">
        <div class="header-icon-container">

        </div>
      </div><!--movie-header-->
      <div class="movie-content">
        <div class="movie-content-header">
          <a href="#">
            <h3 class="movie-title">Baby Driver</h3>
          </a>
          
        </div>
        <div class="movie-info">
          <div class="info-section">
            <label>Date & Time</label>
            <span>Tue 4 July - 05:00PM</span>
          </div><!--date,time-->
          <div class="info-section">
            <label>Screen</label>
            <span>01</span>
          </div><!--screen-->
          <div class="info-section">
            <label>Row</label>
            <span>H</span>
          </div><!--row-->
          <div class="info-section">
            <label>Seat</label>
            <span>15</span>
          </div><!--seat-->
        </div>
      </div><!--movie-content-->
    </div><!--movie-card-->
    
    <div class="movie-card">
      <div class="movie-header theDarkTower">
        <div class="header-icon-container">

        </div>
      </div><!--movie-header-->
      <div class="movie-content">
        <div class="movie-content-header">
          <a href="#">
            <h3 class="movie-title">The Dark Tower</h3>
          </a>
          
        </div>
        <div class="movie-info">
          <div class="info-section">
            <label>Date & Time</label>
            <span>Wed 16 Aug - 07:00PM</span>
          </div><!--date,time-->
          <div class="info-section">
            <label>Screen</label>
            <span>06</span>
          </div><!--screen-->
          <div class="info-section">
            <label>Row</label>
            <span>C</span>
          </div><!--row-->
          <div class="info-section">
            <label>Seat</label>
            <span>18</span>
          </div><!--seat-->
        </div>
      </div><!--movie-content-->
    </div><!--movie-card-->
    
    <div class="movie-card">
      <div class="movie-header bladeRunner2049">
        <div class="header-icon-container">

        </div>
      </div><!--movie-header-->
      <div class="movie-content">
        <div class="movie-content-header">
          <a href="#">
            <h3 class="movie-title">Blade Runner 2049</h3>
          </a>
          
        </div>
        <div class="movie-info">
          <div class="info-section">
            <label>Date & Time</label>
            <span>Mon 16 Oct - 10:00PM</span>
          </div><!--date,time-->
          <div class="info-section">
            <label>Screen</label>
            <span>06</span>
          </div><!--screen-->
          <div class="info-section">
            <label>Row</label>
            <span>D</span>
          </div><!--row-->
          <div class="info-section">
            <label>Seat</label>
            <span>05,06</span>
          </div><!--seat-->
        </div>
      </div><!--movie-content-->
    </div><!--movie-card-->
    
  </div><!--container-->
<hr>
<div style="display: flex;justify-content: center;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;margin-top: 20px;">
  <h1>Recently Suggested Movies</h1>
</div>

<div class="container">
  <div class="movie-card">
    <div class="movie-header manOfSteel">
      <div class="header-icon-container">

      </div>
    </div><!--movie-header-->
    <div class="movie-content">
      <div class="movie-content-header">
        <a href="#">
          <h3 class="movie-title">Man of Steel</h3>
        </a>
        
      </div>
      <div class="movie-info">
        <div class="info-section">
          <label>Date & Time</label>
          <span>Sun 8 Sept - 10:00PM</span>
        </div><!--date,time-->
        <div class="info-section">
          <label>Screen</label>
          <span>03</span>
        </div><!--screen-->
        <div class="info-section">
          <label>Row</label>
          <span>F</span>
        </div><!--row-->
        <div class="info-section">
          <label>Seat</label>
          <span>21,22</span>
        </div><!--seat-->
      </div>
    </div><!--movie-content-->
  </div><!--movie-card-->
  
  <div class="movie-card">
    <div class="movie-header babyDriver">
      <div class="header-icon-container">

      </div>
    </div><!--movie-header-->
    <div class="movie-content">
      <div class="movie-content-header">
        <a href="#">
          <h3 class="movie-title">Baby Driver</h3>
        </a>
        
      </div>
      <div class="movie-info">
        <div class="info-section">
          <label>Date & Time</label>
          <span>Tue 4 July - 05:00PM</span>
        </div><!--date,time-->
        <div class="info-section">
          <label>Screen</label>
          <span>01</span>
        </div><!--screen-->
        <div class="info-section">
          <label>Row</label>
          <span>H</span>
        </div><!--row-->
        <div class="info-section">
          <label>Seat</label>
          <span>15</span>
        </div><!--seat-->
      </div>
    </div><!--movie-content-->
  </div><!--movie-card-->
  
  <div class="movie-card">
    <div class="movie-header theDarkTower">
      <div class="header-icon-container">

      </div>
    </div><!--movie-header-->
    <div class="movie-content">
      <div class="movie-content-header">
        <a href="#">
          <h3 class="movie-title">The Dark Tower</h3>
        </a>
        
      </div>
      <div class="movie-info">
        <div class="info-section">
          <label>Date & Time</label>
          <span>Wed 16 Aug - 07:00PM</span>
        </div><!--date,time-->
        <div class="info-section">
          <label>Screen</label>
          <span>06</span>
        </div><!--screen-->
        <div class="info-section">
          <label>Row</label>
          <span>C</span>
        </div><!--row-->
        <div class="info-section">
          <label>Seat</label>
          <span>18</span>
        </div><!--seat-->
      </div>
    </div><!--movie-content-->
  </div><!--movie-card-->
  
  <div class="movie-card">
    <div class="movie-header bladeRunner2049">
      <div class="header-icon-container">

      </div>
    </div><!--movie-header-->
    <div class="movie-content">
      <div class="movie-content-header">
        <a href="#">
          <h3 class="movie-title">Blade Runner 2049</h3>
        </a>
        
      </div>
      <div class="movie-info">
        <div class="info-section">
          <label>Date & Time</label>
          <span>Mon 16 Oct - 10:00PM</span>
        </div><!--date,time-->
        <div class="info-section">
          <label>Screen</label>
          <span>06</span>
        </div><!--screen-->
        <div class="info-section">
          <label>Row</label>
          <span>D</span>
        </div><!--row-->
        <div class="info-section">
          <label>Seat</label>
          <span>05,06</span>
        </div><!--seat-->
      </div>
    </div><!--movie-content-->
  </div><!--movie-card-->
  
</div><!--container-->