
<div *ngIf="loading" style="position: absolute;top: 60px;left: 0;width: 100%;height: 100%;z-index: 2;
background-color: rgb(0, 0, 0)">
  <div style="display: flex;justify-content: center;align-items: center;height: 90%;">
  <img src="../../../assets/loading animation/load2-crop.gif" width="200" height="200" style="opacity: 1;"></div>
</div>
<div class="dark-mode" style="background-color: rgb(22,22,22);color: white;padding-bottom: 70px;">
<div class="container" *ngIf="!loading">
<div style="margin-left: 20px;">
    <i class="bi bi-arrow-left-square" style="font-size: x-large;" (click)="goBack()"></i>
</div>

<h5 class="text-center" style="margin: 2%;">{{ListForDisplay.listName | titlecase}}</h5>
<!-- <p class="text-center" *ngIf="customList">Created By {{customerName | titlecase}}</p> -->
<p class="text-center" *ngIf="eligibleForRating">
    <button type="button" class="btn btn-sm btn-outline-light" data-toggle="modal" data-target="#ratingModalList">
        Rate this List <i class="bi bi-star"></i>
    </button></p>
    <p *ngIf="loggedIn && listByCurrentCustomer" (click)="deleteList(ListForDisplay.key)" class="text-center"><button type="button" class="btn btn-sm btn-outline-danger">
      Delete this List
  </button></p>
    <div class="movie-list-item effect7" style="margin: 2%;margin-bottom: 4%;" *ngFor="let m of ListForDisplay.moviesInList" >
      <div class="content"  [ngStyle]="{'background-image': 'url(' + m.smallImageUrl + ')'}" style="border-top-left-radius: 10px;border-top-right-radius: 10px;height: 130px;">
          <div style="background-color: rgba(0, 0, 0, 0.616);height: 130px;border-top-left-radius: 10px;border-top-right-radius: 10px;">
              <div>
                  <div class="d-flex bd-highlight mb-3" style="margin-right: 2%;">
                      <div class="p-2 bd-highlight" (click)="goto(m.key)"><img src="{{m.smallImageUrl}}" width="70px" height="110"></div>
                      <div class="p-2 bd-highlight" (click)="goto(m.key)">
                          <h5>{{ (m.title.length>25)? (m.title | slice:0:25)+'..':(m.title) | titlecase }}</h5>
                          <p style="font-size: small;">{{m.releaseYear}} . {{ (m.genre.length>35)? (m.genre | slice:0:35)+'..':(m.genre) }}<br> <span *ngIf="m.runTime !== ''">Runtime : {{m.runTime}} Minutes</span></p>
                      </div>
                      <div class="ml-auto p-2 bd-highlight"  style="z-index: 200;">
                          <a (click)="GoToMovieExternalSite(m.key)">
                              <img *ngIf="m.ott.Netflix" src="../../../assets/ott-icons/netflix.jpg" style="border-radius: 10px;height: 50px;">
                              <img *ngIf="m.ott.Prime_Video" src="../../../assets/ott-icons/prime.png" style="border-radius: 10px;height: 50px;">
                              <img *ngIf="m.ott.Hotstar" src="../../../assets/ott-icons/hotstar.jpg" style="border-radius: 10px;height: 50px;">
                              <img *ngIf="m.ott.Aha" src="../../../assets/ott-icons/aha.jpeg" style="border-radius: 10px;height: 50px;">
                              <img *ngIf="m.ott.Sun_Next" src="../../../assets/ott-icons/sunnext.jpg" style="border-radius: 10px;height: 50px;">
                              <img *ngIf="m.ott.JioCinema" src="../../../assets/ott-icons/jiocinema.png" style="border-radius: 10px;height: 50px;">
                              <img *ngIf="m.ott.Sony_Liv" src="../../../assets/ott-icons/sonyliv.png" style="border-radius: 10px;height: 50px;">
                              <img *ngIf="m.ott.Zee5" src="../../../assets/ott-icons/zee5.png" style="border-radius: 10px;height: 50px;">
                              <img *ngIf="m.ott.Youtube" src="../../../assets/ott-icons/youtube.jpg" style="border-radius: 10px;height: 50px;">
                          </a>
                      </div>
                  </div>
              </div>
  
          </div>
      </div>
      <div class="footer" style="display: flex;justify-content: center;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;height: 40px;background-color: rgba(90, 89, 89, 0.76);">
        {{ (m.title.length>50)? (m.title | slice:0:50)+'..':(m.title) | titlecase }}
        <!-- <div class="d-flex bd-highlight mb-3" style="font-size: small;">
              <div class="p-2 bd-highlight" *ngIf="currentCustomer.wishlistedMovies.includes(m.key)" (click)="removeFromWishlist(m.key)">
                  <i class="bi bi-heart-fill" style="color: red;"></i>  Remove from wishlist
              </div>
              <div class="p-2 bd-highlight" *ngIf="!currentCustomer.wishlistedMovies.includes(m.key)" (click)="addMovieToWishlist(m.key)">
                  <i class="bi bi-heart" style="color: red;"></i>  Wishlist
              </div>
              <div class="p-2 bd-highlight"  *ngIf="currentCustomer.watchedMovies.includes(m.key)"  (click)="removeFromWatched(m.key)">
                  <i class="bi bi-bookmark-dash-fill" style="color: gold;"></i>  Remove from watched
              </div>
              <div class="p-2 bd-highlight"  *ngIf="!currentCustomer.watchedMovies.includes(m.key)" (click)="addToWatchedMovies(m.key)">
                  <i class="bi bi-bookmark-plus-fill"></i>  Watched?
              </div>
          </div> -->
      </div>
    </div>

    <div style="margin: 2%;display: flex;justify-content: center;flex-wrap:wrap;">
        <p *ngIf="!showCopiedClipboard">Share this list to your friends? 
            <button type="button" (click)="copyToClipboard()" class="btn btn-sm btn-outline-primary" style="border-radius: 100px;"><i class="bi bi-share-fill"></i></button>
        </p>
        <p *ngIf="showCopiedClipboard" style="color:blue;font-size: small;">Link copied to clipboard, you can now share this list to your friends!</p>
    </div> 
</div>

<!--rating modal for list-->
<div class="modal fade" id="ratingModalList" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="background-color: rgb(22,22,22);color: white;border: 1px solid white;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Rate {{ListForDisplay.listName | titlecase}} List</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="rating" style="margin: 5%;">
                <div class="form-group">            
                  <label for="exampleInputPassword2">Please give us your rating to this List</label>     
                  <small id="emailHelp" class="form-text text-muted">It will help us to suggest better Movie List based on the rating you give. You can only rate one time per movie. (editing rating for movies will be supported in next version) </small> <br>
                  <p>Movie in this List : {{ListForDisplay.moviesInList.length}}</p>
                  <div style="display: flex;">
                  <select class="form-select browser-default custom-select" id="ratingdropdown" aria-label="Default select example" name="rtingd" [(ngModel)]="rating">
                    <option [value]=0>Rate {{ListForDisplay.listName | titlecase}} Movie list</option>
                    <option [value]="1">Below Average</option>
                    <option [value]="2">Average</option>
                    <option [value]="3">Good</option>
                    <option [value]="4">Extra-ordinary</option>
                    <option [value]="5">Mind blowing</option>
                  </select>   
                  <button type="button" style="margin-left: 1%;width: 100px;" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#ratingModalList" (click)=rateList(ListForDisplay.key)>Submit</button>   </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>

</div>