<!-- <div>
<div class="movie-card">
  <div class="movie-header manOfSteel" style="background-image: url('http://henrycavill.org/images/Films/2013-Man-of-Steel/posters/3-Walmart-Superman-a.jpg');">
    <div class="header-icon-container">
  </div>
  </div>
  <div class="movie-content">
    <div class="movie-content-header">
      <a href="#">
        <h3 class="movie-title">Man of Steel</h3>
      </a>
      <div class="imax-logo">Watch Trailer</div>
    </div>
    <div class="movie-info">
      <div class="info-section">
        <label>Language</label>
        <span>English</span>
      </div>
      <div class="info-section">
        <label>Genre</label>
        <span>Superhero,Action</span>
      </div>
      <div class="info-section">
        <label>Year of Release</label>
        <span>2019</span>
      </div>
    </div>
  </div>
</div>
</div> -->


<div class="row">
  <div class="col-sm-3">
    <div class="movie-card">
      <div class="movie-header manOfSteel" style="background-image: url('http://henrycavill.org/images/Films/2013-Man-of-Steel/posters/3-Walmart-Superman-a.jpg');">
        <div class="header-icon-container">
      </div>
      </div><!--movie-header-->
      <div class="movie-content">
        <div class="movie-content-header">
          <a href="#">
            <h3 class="movie-title">Man of Steel</h3>
          </a>
          <div class="imax-logo">Watch Trailer</div>
        </div>
        <div class="movie-info">
          <div class="info-section">
            <label>Language</label>
            <span>English</span>
          </div>
          <div class="info-section">
            <label>Genre</label>
            <span>Superhero,Action</span>
          </div>
          <div class="info-section">
            <label>Year of Release</label>
            <span>2019</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">    
    <div class="embed-responsive embed-responsive-16by9" style="margin: 20px;border-radius: 10px;">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/T6DJcgm3wNY?rel=0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="description" style="display: flex;justify-content: center;margin: 5%;">
  <h3>description goes here</h3>
</div>