<!--better improvements-->
<!-- <span class="imdbRatingPlugin" data-user="ur79426835" data-title="tt7888964" data-style="p1"><a href="https://www.imdb.com/title/tt7888964/?ref_=plg_rt_1"><img src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/images/imdb_46x22.png" alt=" Nobody
  (2021) on IMDb" />
  </a>
</span> -->

<!-- <img src="{{actualMovie.smallImageUrl}}" width="100%"> -->
<p id="scrollhere" style="display: none;"></p>
<!--end here-->
<span *ngIf="!isMobile" style="width: 100%;">
  <div class="row" *ngIf="!isMobile">
    <div class="col-sm-8" id="yt-trailermm">    
      <div class="embed-responsive embed-responsive-16by9" style="margin: 20px;border-radius: 10px;">
        <iframe class="embed-responsive-item" [src]="safeSrc" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="movie-card">
        <!-- <div class="movie-header manOfSteel" style="background-image: url(movie.smallImageUrl);"> -->
        <div class="movie-header manOfSteel" [ngStyle]="{'background-image': 'url(' + actualMovie.smallImageUrl + ')'}">
          <div class="header-icon-container">          
          </div>
        </div><!--movie-header-->
        <div class="movie-content">
          <div class="movie-content-header">
            <a>
              <p class="movie-title">{{actualMovie.title}}</p>
            </a>
            
            <!-- <div class="imax-logo">Watch Trailer</div> ORIGINAL BEFORE MODAL, PASTE THIS LINE IF WE REMOVE BOOTSTRAP MODAL AND REMOVE ABOVE LINE -->
          </div>
          <div class="movie-info" style="font-size:small;">
            <div>
              <label>Language : </label>
              <span><b> {{actualMovie.language}}</b></span>
            </div>
            <div>
              <label>Genre : </label>
              <span><b> {{actualMovie.genre}}</b></span>
            </div>
            <div>
              <label>Year of Release : </label>
              <span><b> {{actualMovie.releaseYear}}</b></span>
            </div>
          </div>
            <div>
              <div class="imax-logo" data-toggle="modal" data-target="#exampleModalCenter"><a (click)='trailer()'>Watch Trailer</a></div>
            </div>
          
        </div>
      </div> 

    </div>
  </div>
</span>


<!--mobile below-->

<div class="container" *ngIf="isMobile" style="margin-bottom: 50px;">
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<div *ngIf="loading" style="position: absolute;top: 60px;left: 0;width: 100%;height: 100%;z-index: 2;
background-color: rgb(0, 0, 0)">
  <div style="display: flex;justify-content: center;align-items: center;height: 90%;">
  <img src="../../../assets/loading animation/load2-crop.gif" width="200" height="200" style="opacity: 1;"></div>
</div>

<span  *ngIf="!loading">
  <div class="top">
    <header>   
      <!-- Background image -->
      <div class="text-center bg-image" style="background-repeat: no-repeat;background-attachment: fixed;background-position: center;background-size:cover;" [ngStyle]="{'background-image': 'url(' + actualMovie.smallImageUrl + ')'}">
        <div class="mask" style="backdrop-filter: blur(4px) brightness(0.5);padding: 2%;word-wrap: break-word;white-space: initial;width: 100%;">
          <div style="width: 100%;">
            <div style="margin-left: 20px;display: flex;justify-content: flex-start;z-index: 10;">
              <i class="bi bi-arrow-left-square" style="font-size: x-large;color: white;" (click)="goBack()"></i>
            </div>
            <!-- animated wow bounceInDown try adding these calsses to below div-->
            <div class="text-white ">
              <!-- <img src="{{actualMovie.bigImageUrl}}" width="100%"> -->
              <h3 class="mb-3" id="title-scroll"><b>{{actualMovie.title | titlecase}}</b></h3>
              <div id="trailer-mobile" class="embed-responsive embed-responsive-16by9" style="border-radius: 10px;">
                <iframe class="embed-responsive-item" [src]="safeSrc" allowfullscreen></iframe>
              </div>
              <br>

              <span style="overflow-wrap: break-word;-ms-word-break: break-all;word-wrap: break-word;word-break: break-all;">
                <h6 *ngIf="actualMovie.isThisSeries" >          
                  <span class="badge badge-primary">
                    This is Series
                  </span>
                </h6>
                <div *ngIf="IMDBRatingAvailable" style="display: flex;justify-content: center;">
                  <span style="margin: 5px 0px;padding: 2px 2px 1px;" (click)="refresh()">
                    <img src="./../../../assets/images/imdb.png" alt=" Nobody(2021) on IMDb" width="68.54" height="31.4" />
                  </span>              
                    <span [innerHTML]="IMDBRatingStringBypass"></span>
                </div>
                <!-- <div id="user" data-id="1234567890" data-user="johndoe" data-date-of-birth>John Doe</div> -->
                <!-- <h6 ><label class="top-label">IMDb Rating : </label> {{actualMovie.language | commapipe}}</h6> -->
                <h6 ><label class="top-label">Language : </label> {{actualMovie.language | commapipe}}</h6>
                <h6 ><label class="top-label">Released In : </label> {{actualMovie.releaseYear}}</h6>
                <h6 *ngIf="!actualMovie.isThisSeries" ><label class="top-label">Runtime : </label> {{actualMovie.runTime}} Minutes</h6>
                <h6 *ngIf="actualMovie.isThisSeries" ><label class="top-label">Number of seasons : </label> {{actualMovie.numberOfSeasons}}</h6>
                <h6 *ngIf="actualMovie.isThisSeries" ><label class="top-label">Total Number of Episodes : </label> {{actualMovie.numberOfEpisodes}}</h6>
                <h6 *ngIf="actualMovie.isThisSeries" ><label class="top-label">Series Status : </label> {{actualMovie.seriesStatus}}</h6>
                <h6 ><label class="top-label">Genre : </label> {{actualMovie.genre | commapipe}}</h6>
                </span>
                <div class="btns" style="display: flex;justify-content: center;padding: 2%;width: 100%;">
                  <!-- <span>
                    <a class="btn btn-outline-info " style="margin: 2%;border-radius: 10px;background-color: rgb(22,22,22);border: 0.5px solid rgb(156, 156, 156);;" role="button" (click)="MoreAboutMovie()"><i class="fa fa-info-circle" aria-hidden="true"></i><br>About</a>
                  </span> -->
                  <span *ngIf="currentCustomer">
                    <a class="btn btn-outline-info " style="margin: 2%;border-radius: 10px;background-color: rgb(22,22,22);border: 0.5px solid rgb(156, 156, 156);;" role="button" (click)="openShareWindow()">
                      <i class="bi bi-share"></i>
                       Send to friends</a>
                  </span>
                  <span *ngIf="eligibleForWishList && loggedIn ">
                    <a class="btn btn-outline-primary " style="margin: 2%;border-radius: 10px;background-color: rgb(22,22,22);border: 0.5px solid rgb(156, 156, 156);;" role="button" (click)='wishListMovie(actualMovie.key)'> <i class="fa fa-heart" style="color: red;" aria-hidden="true"></i><br> Wishlist</a>
                  </span >
                  <span *ngIf="!eligibleForWishList && loggedIn">
                    <a class="btn btn-danger " style="margin: 2%;border-radius: 10px;" role="button" (click)='removeFromWishlist(actualMovie.key)'> <i class="bi bi-heart" aria-hidden="true"></i><br> Remove</a>
                  </span> 

                  <span *ngIf="eligibleForWatched && loggedIn">
                    <a class="btn btn-outline-success " style="margin: 2%;border-radius: 10px;background-color: rgb(22,22,22);border: 0.5px solid rgb(156, 156, 156);;"  role="button" (click)="addToWatchedMovies(actualMovie.key)"> <i class="bi bi-tv-fill"></i><br> Watched</a>
                  </span >
                  <span *ngIf="!eligibleForWatched && loggedIn">
                    <a class="btn btn-success " style="margin: 2%;border-radius: 10px;" role="button" (click)='removeFromWatched(actualMovie.key)'><i class="bi bi-tv" aria-hidden="true"></i><br> Remove</a>
                  </span> 
                  

                </div>
            </div>
          </div>
        </div>
        <div *ngIf="!loading" style="backdrop-filter: blur(4px) brightness(0.5);">
        <div class="mask" style="background-color: rgba(0, 0, 0, 1);border-top-left-radius: 30px;border-top-right-radius: 30px;padding: 2%;word-wrap: break-word;white-space: initial;margin-left: 10px;margin-right: 10px;">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
              <!-- <img src="{{actualMovie.bigImageUrl}}" width="100%"> -->
              <!-- <h3 class="mb-3" id="title-scroll">{{actualMovie.title | titlecase}}</h3>
              <div id="trailer-mobile" class="embed-responsive embed-responsive-16by9" style="border-radius: 10px;">
                <iframe class="embed-responsive-item" [src]="safeSrc" allowfullscreen></iframe>
              </div>
              <br>
              <span style="overflow-wrap: break-word;-ms-word-break: break-all;word-wrap: break-word;word-break: break-all;">
                <h6 class="mb-3"><label class="top-label">Language : </label> {{actualMovie.language | commapipe}}</h6>
                <h6 class="mb-3"><label class="top-label">Released In : </label> {{actualMovie.releaseYear}}</h6>
                <h6 class="mb-3"><label class="top-label">Runtime : </label> {{actualMovie.runTime}} Minutes</h6>
                <h6 class="mb-3"><label class="top-label">Available In : </label></h6>
                <div class="icons">
                  <a (click)="GoToMovieExternalSite()">
                  <img *ngIf="movieHere.availableIn.Netflix" src="../../../assets/ott-icons/netflix.jpg" width="50" height="50">
                  <img *ngIf="movieHere.availableIn.Prime_Video" src="../../../assets/ott-icons/prime.png" width="50" height="50">
                  <img *ngIf="movieHere.availableIn.Hotstar" src="../../../assets/ott-icons/hotstar.jpg" width="50" height="50">
                  <img *ngIf="movieHere.availableIn.Aha" src="../../../assets/ott-icons/aha.jpeg" width="50" height="50">
                  <img *ngIf="movieHere.availableIn.Sun_Next" src="../../../assets/ott-icons/sunnext.jpg" width="50" height="50">
                  <img *ngIf="movieHere.availableIn.JioCinema" src="../../../assets/ott-icons/jiocinema.png" width="50" height="50">
                  <img *ngIf="movieHere.availableIn.Sony_Liv" src="../../../assets/ott-icons/sonyliv.png" width="50" height="50">
                  <img *ngIf="movieHere.availableIn.Zee5" src="../../../assets/ott-icons/zee5.png" width="50" height="50">
                  <img *ngIf="movieHere.availableIn.Youtube" src="../../../assets/ott-icons/youtube.jpg" width="50" height="50"></a>
                </div><br> -->

                <span style="overflow-wrap: break-word;-ms-word-break: break-all;word-wrap: break-word;word-break: break-all;">
                  <h6 class="mb-3"><label class="top-label">Where to watch</label></h6>
                  <div class="icons">
                    <a (click)="GoToMovieExternalSite()">
                    <img *ngIf="movieHere.availableIn.Netflix" src="../../../assets/ott-icons/netflix.jpg" width="50" height="50">
                    <img *ngIf="movieHere.availableIn.Prime_Video" src="../../../assets/ott-icons/prime.png" width="50" height="50">
                    <img *ngIf="movieHere.availableIn.Hotstar" src="../../../assets/ott-icons/hotstar.jpg" width="50" height="50">
                    <img *ngIf="movieHere.availableIn.Aha" src="../../../assets/ott-icons/aha.jpeg" width="50" height="50">
                    <img *ngIf="movieHere.availableIn.Sun_Next" src="../../../assets/ott-icons/sunnext.jpg" width="50" height="50">
                    <img *ngIf="movieHere.availableIn.JioCinema" src="../../../assets/ott-icons/jiocinema.png" width="50" height="50">
                    <img *ngIf="movieHere.availableIn.Sony_Liv" src="../../../assets/ott-icons/sonyliv.png" width="50" height="50">
                    <img *ngIf="movieHere.availableIn.Zee5" src="../../../assets/ott-icons/zee5.png" width="50" height="50">
                    <img *ngIf="movieHere.availableIn.Youtube" src="../../../assets/ott-icons/youtube.jpg" width="50" height="50">
                    <img *ngIf="movieHere.availableIn.Mx_Player" src="../../../assets/ott-icons/mxplayer.png" width="50" height="50">
                    <img *ngIf="movieHere.availableIn.Voot" src="../../../assets/ott-icons/voot.png" width="50" height="50">
                  </a>
                  </div><br>
                <div style="display: flex;justify-content: center;">
                  <a class="btn btn-primary  buttons-top btn-block" style="width: 95%;" role="button" (click)="GoToMovieExternalSite()">Watch Movie <i class="fa fa-play-circle-o"></i></a>
                  <a class="btn btn-primary  buttons-top btn-block" style="width: 95%;" role="button" (click)='trailer()'>Watch Trailer <i class="fa fa-play-circle-o"></i></a>
                </div>
              </span> 
              <div class="rating" style="margin: 5%;">
                <div class="form-group" *ngIf="eligibleForRating">
                  <h5 class="mb-3"><label class="top-label">Rate {{actualMovie.title}}</label></h5> 
                  <!-- <small id="emailHelp" class="form-text ">It will help us to suggest better movies. You can only rate one time per movie. (editing rating for movies will be supported in next version) </small> <br> -->
                  <div style="display: flex;">
                  <select class="form-select browser-default custom-select" id="ratingdropdown" aria-label="Default select example" name="rtingd" [(ngModel)]="rating">
                    <option [value]=0>Rate {{actualMovie.title}} movie here</option>
                    <option [value]="1">Below Average : 1/5</option>
                    <option [value]="2">Average : 2/5</option>
                    <option [value]="3">Good : 3/5</option>
                    <option [value]="4">Extrordinary : 4/5</option>
                    <option [value]="5">Mind blowing : 5/5</option>
                  </select>   
                  <button type="button" style="margin-left: 1%;width: 100px;" class="btn btn-outline-light btn-sm" (click)="rateMovie(actualMovie.key)">Submit</button>   </div>
                </div>
                <div *ngIf="!eligibleForRating">
                  <h6> You already rated <b>{{rating}}</b> for <b>{{actualMovie.title}}</b>. Thank you !</h6>
                  <small *ngIf="loggedIn" id="emailHelp" class="form-text "> You can only rate one time per movie. (Editing rating for movies will be supported in next version)</small>
                  <small *ngIf="!loggedIn" id="emailHelp" class="form-text "> You can only rate one time per movie. (you need to log in to edit rating, click <a routerLink="/login">here to log in</a>)</small>
                </div><br>                                
              </div>
              <a class="btn btn-success  buttons-top btn-block" style="width: 95%;" role="button" *ngIf="!loggedIn" (click)='router.navigateByUrl("/login")'>Login to wishlist and Watched Movies <i class="fa fa-heart" aria-hidden="true"></i></a>
              <b>Synopsis</b>
              <p>{{actualMovie.description}}</p>
              <table style="width: 100%;">
                <!-- <tr>
                  <td style="width: 20%;text-align: left"><b>Description: </b></td>
                  <td style="text-align: left;padding: 4px;">{{actualMovie.description | commapipe}}</td>
                </tr> -->
                <tr>
                  <td style="width: 20%;text-align: left;"><b>Genre: </b></td>
                  <td style="text-align: left;">{{actualMovie.genre | commapipe}}</td>                  
                </tr>
                <tr>
                  <td style="width: 20%;text-align: left;"><b>Cast: </b></td>
                  <td style="text-align: left;">{{actualMovie.cast | titlecase}}</td>                  
                </tr>
                <tr>
                  <td style="width: 20%;text-align: left;"><b>Language: </b></td>
                  <td style="text-align: left;padding: 4px;">{{actualMovie.language | commapipe}}</td>
                </tr>
                <tr *ngIf="actualMovie.isThisSeries">
                  <td style="width: 20%;text-align: left;"><b>Run Time: </b></td>
                  <td style="text-align: left;padding: 4px;">{{actualMovie.runTime}} Minutes</td>
                </tr>
                <tr>
                  <td style="width: 20%;text-align: left;"><b>Released year: </b></td>
                  <td style="text-align: left;padding: 4px;">{{actualMovie.releaseYear | commapipe}} </td>
                </tr>
              </table>  <br>           

              

              <!-- <small  id="emailHelp" class="form-text "><h6>Description about Movie : <br></h6>{{actualMovie.description}}</small> -->
              
              <button class="btn btn-lg btn-outline-primary btn-block" (click)="copyToClipboard()"><i class="bi bi-share-fill"></i>  Suggest this movie to your friends outside Suggesto</button><br>
              <h6 *ngIf="featuredLists.length !== 0">Featured on</h6>
              <div>
                <span *ngFor="let list of featuredLists">
                    <div style="width: 100%;">
                      <div class="list-item item3-1" (click)="this.router.navigateByUrl('/list/'+list.key)">
                        <div class="long-word"><b>{{list.listName}}</b></div>
                      </div>
                    </div>                    
                </span>
              </div><br>
              <h6 *ngIf="recommendedMovieTitles.length !== 0">Similar Movies</h6>
              <div style="display: flex;justify-content: center;flex-wrap: wrap;">
                <span *ngFor="let movie of recommendedMovieTitles">
                  <div class="item-reco" style="margin: 2%;margin-right: 0;">
                    <div style="display: flex;justify-content: center;">
                      <img (click)="goToRecommendedMovieImdb(movie.id,movie.title)" src="{{movie.imageUrl}}" width="100" height="150" style="margin: 5px;border-radius: 10px;">
                    </div>
                    <div style="display: flex;justify-content: center;">
                      {{movie.title}}
                    </div>
                  </div>
                </span>
              </div>
              <br>
              
                <!-- <div class="recommendedMovieTitles" >                  
                  <span *ngFor="let movie of recommendedMovieTitles">
                    <div class="item-reco" style="margin: 2%;margin-right: 0;">
                      <div style="display: flex;justify-content: center;">
                        <img src="{{movie.imageUrl}}" width="100" height="150" style="margin: 2%;border: 1px solid red;border-radius: 10px;">
                      </div>
                      
                    </div>
                  </span>
                </div> -->
            </div>
          </div>
        </div>
        </div>
      </div>
      <!-- Background image -->
    </header>
  </div>
</span>
</div>

<!-- <div *ngIf="actualMovie.isThisSeries" style="position: absolute;display: flex;justify-content: center;width: 100%;top: 60px;right: 0;">
  <h4 style="color: white;">This is series</h4>
</div> -->



<div *ngIf="shareWindowBool" class="animated slideInUp" id="share-window" (swipe)="onSwipe($event)" style="position: fixed;color: white;bottom: 0;left:0;width: 96%;margin-bottom: 50px;margin-left: 2%;padding-top: 5%;background-color: rgb(51, 51, 51);border-top-right-radius: 40px;border-top-left-radius: 40px;" [ngStyle]="{'height': (allFriends.length == 0) ? '40vh' : 'auto'}">
  <div class="d-flex bd-highlight">
    <div class="p-2 w-100 bd-highlight "><h6 style="margin-left: 5%;">Share {{actualMovie.title}} with your friends.</h6></div>
    <div class="p-2 flex-shrink-1 bd-highlight"  style="z-index: 5;" (click)="closedShareWindow()">
      <h3><i style="color: white;" class="bi bi-x-circle-fill"></i></h3>
    </div>
    <div class="p-2 flex-shrink-1 bd-highlight"  style="z-index: 5;" (click)="closedShareWindow()">
      <!-- <h3><i style="color: white;" class="bi bi-x-circle-fill"></i></h3> -->
    </div>
  </div>
  <div class="d-flex bd-highlight">
    <div class="p-2 bd-highlight">
      <img src="{{actualMovie.smallImageUrl}}" width="50" height="70">
    </div>
    <div class="p-2 flex-grow-1 bd-highlight align-self-center">
      <input type="text" name="searchStr" [(ngModel)]="sendObj.senderMessage" #searchStr="ngModel" style="background-color: rgb(51, 51, 51);color: white;border: 2px solid white;width: 95%;margin: 2%;padding: 4%;border-top: none;border-left: none;border-right: none;" placeholder="Your Message Here">
    </div>
  </div>
  <div id="abc" *ngIf="allFriends.length != 0" style="margin-bottom: 20px;overflow: auto;height: 40vh;">
    <div  class="d-flex bd-highlight" *ngFor="let f of allFriends" style="margin: 2%;color: white;">
      <div class="p-2  bd-highlight">
        <img src={{f.followerphotoUrl}} width="25" height="25" style="border-radius: 100px;">
      </div>
      <div class="p-2 flex-grow-1 bd-highlight align-self-center">
        <h6>{{f.followerName | titlecase}}</h6>
      </div>
      <div class="p-2 bd-highlight align-self-center">
        <button type="button" (click)="sendMovie(f,actualMovie)" class="btn btn-sm btn-primary">Send</button>
      </div>
    </div>
  </div>
  <span *ngIf="allFriends.length == 0">
    <div *ngIf="allFriends.length == 0" style="display: flex;justify-content: center;margin: 5%;">
      <h6>You might have shared this movie to all your friends OR You haven't made any friends, click <a style="color: lawngreen;" routerLink='/people'>here</a> to send follow requests to friends and share movies with them.</h6>
    </div>
  </span>
</div>