<!--better improvements-->

<!-- <img src="{{actualMovie.smallImageUrl}}" width="100%"> -->
<p id="scrollhere" style="display: none;"></p>
<!--end here-->



<!--mobile below-->

<div class="container" style="margin-bottom: 50px;">
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<div *ngIf="loading" style="position: absolute;top: 60px;left: 0;width: 100%;height: 100%;z-index: 2;
background-color: rgb(0, 0, 0)">
  <div style="display: flex;justify-content: center;align-items: center;height: 90%;">
  <img src="../../../assets/loading animation/load2-crop.gif" width="200" height="200" style="opacity: 1;"></div>
</div>

<span >
  <div class="top">
    <header>   
      <!-- Background image -->
      <div class="text-center bg-image" style="background-repeat: no-repeat;background-attachment: fixed;background-position: center;background-size:cover;" [ngStyle]="{'background-image': 'url(' + actualMovie.smallImageUrl + ')'}">
        <div class="mask" style="backdrop-filter: blur(4px) brightness(0.5);padding: 2%;word-wrap: break-word;white-space: initial;width: 100%;">
          <div style="width: 100%;">
            <div style="margin-left: 20px;display: flex;justify-content:center;align-items: center;color: white;background-color: black;border: 1px solid red;border-radius: 15px;">
                <p><i class="fa fa-info-circle" aria-hidden="true"></i> This movie is not in our db.</p>
              </div>
            <div style="margin-left: 20px;display: flex;justify-content: flex-start;">
              <i class="bi bi-arrow-left-square" style="font-size: x-large;color: white;" (click)="location.back()"></i>
            </div>
            <div class="text-white">
              <!-- <img src="{{actualMovie.bigImageUrl}}" width="100%"> -->
              <h3 class="mb-3" id="title-scroll"><b>{{actualMovie.title | titlecase}}</b></h3>
              <img src="{{actualMovie.bigImageUrl}}" style="width: 90%;border-radius: 10px;">
              <!-- <div id="trailer-mobile" class="embed-responsive embed-responsive-16by9" style="border-radius: 10px;">
                
              </div> -->
              <br>
              <span style="overflow-wrap: break-word;-ms-word-break: break-all;word-wrap: break-word;word-break: break-all;">
                <h6 ><label class="top-label">Language : </label> {{actualMovie.language | titlecase}}</h6>
                <h6 ><label class="top-label">Release Date : </label> {{actualMovie.releaseYear}}</h6>
                <h6 ><label class="top-label">Runtime : </label> {{actualMovie.runTime}} Minutes</h6>
                <h6 ><label class="top-label">Genre : </label> {{actualMovie.genre | commapipe}}</h6>
                </span>
                <div class="btns" style="display: flex;justify-content: center;padding: 2%;width: 100%;">
                    <span>
                      <a class="btn btn-outline-info " style="margin: 2%;border-radius: 10px;background-color: rgb(22,22,22);border: 0.5px solid rgb(156, 156, 156);;" role="button" (click)="MoreAboutMovie()"><i class="fa fa-info-circle" aria-hidden="true"></i><br>More about movie</a>
                    </span>
  
                  </div>

            </div>
          </div>
        </div>
        <div style="backdrop-filter: blur(4px) brightness(0.5);">
        <div class="mask" style="background-color: rgba(0, 0, 0, 1);border-top-left-radius: 30px;border-top-right-radius: 30px;padding: 2%;word-wrap: break-word;white-space: initial;margin-left: 10px;margin-right: 10px;">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">

                <span style="overflow-wrap: break-word;-ms-word-break: break-all;word-wrap: break-word;word-break: break-all;">

                <div style="display: flex;justify-content: center;">
                  <!-- <a class="btn btn-primary  buttons-top btn-block" style="width: 95%;" role="button" (click)="GoToMovieExternalSite()">Watch Movie <i class="fa fa-play-circle-o"></i></a> -->
                </div>
              </span> 
              <table style="width: 100%;">
                <tr>
                  <td style="width: 20%;text-align: left"><b>Description: </b></td>
                  <td style="text-align: left;padding: 4px;">{{actualMovie.description}}</td>
                </tr>
                <tr>
                  <td style="width: 20%;text-align: left;"><b>Genre: </b></td>
                  <td style="text-align: left;">{{actualMovie.genre | commapipe}}</td>                  
                </tr>
                <!-- <tr>
                  <td style="width: 20%;text-align: left;"><b>Cast: </b></td>
                  <td style="text-align: left;">{{actualMovie.cast | titlecase}}</td>                  
                </tr> -->
                <tr>
                  <td style="width: 20%;text-align: left;"><b>Language: </b></td>
                  <td style="text-align: left;padding: 4px;">{{actualMovie.language | titlecase}}</td>
                </tr>
                <tr>
                  <td style="width: 20%;text-align: left;"><b>Run Time: </b></td>
                  <td style="text-align: left;padding: 4px;">{{actualMovie.runTime}} Minutes</td>
                </tr>
                <tr>
                  <td style="width: 20%;text-align: left;"><b>Release Date: </b></td>
                  <td style="text-align: left;padding: 4px;">{{actualMovie.releaseYear | commapipe}} </td>
                </tr>
              </table>  <br>           


              <!-- <small  id="emailHelp" class="form-text "><h6>Description about Movie : <br></h6>{{actualMovie.description}}</small> -->
              
              <button class="btn btn-lg btn-outline-primary btn-block" (click)="copyToClipboard()"><i class="bi bi-share-fill"></i>  Suggest this movie to your friends</button><br>

              <br>
            </div>
          </div>
        </div>
        </div>
      </div>
      <!-- Background image -->
    </header>
  </div>
</span>
</div>