<div>
    <div class="card " style="margin: 2%;">
      <div class="card-header" style="color: blue;">
        If you want to add your movie suggestion, please add give some information about the movie below. You can check the movies suggested by you in "Suggested" section.
      </div>
      <div class="card-body">
        <h5 class="card-title">Suggest a Movie</h5>
        <p class="card-text">If you like to add your movie suggestion so that it helps us to suggest movies better, please type Movie name and Language below.</p>
        <form novalidate #addForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="movieTitle">Movie Title</label> <span class="badge badge-dark" style="margin-left: 1%;">required</span>
            <input type="text" class="form-control" id="movieTitle" placeholder="Enter Movie Title" required [(ngModel)]="userMovie.title" name="title" #title="ngModel">
            <div *ngIf="title.invalid && (title.dirty || title.touched)">
              <p *ngIf="title.errors?.required" class="error">Movie Title is required</p>
            </div>
          </div>
          <div class="form-group">
            <label>Language</label>
            <div style="margin: 2%;">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" [(ngModel)]="userMovie.language.english" name="lang" >
                <label class="form-check-label"   >English</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" [(ngModel)]="userMovie.language.telugu" name="lang2" >
                <label class="form-check-label"   >Telugu</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" [(ngModel)]="userMovie.language.tamil" name="lang3" >
                <label class="form-check-label"   >Tamil</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" [(ngModel)]="userMovie.language.malayalam" name="lang4" >
                <label class="form-check-label"   >Malayalam</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" [(ngModel)]="userMovie.language.kannada" name="lang5" >
                <label class="form-check-label"   >Kannada</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword2">Please Rate the Movie if you have seen it:</label>     
            <small id="emailHelp" class="form-text text-muted">It will help us to suggest movies better. </small> <br>
            <select class="form-select browser-default custom-select" id="ratingdropdown" aria-label="Default select example" name="rtingd" [(ngModel)]="userMovie.rating">
              <option [value]=0></option>
              <option [value]="1">Below Average</option>
              <option [value]="2">Average</option>
              <option [value]="3">Good</option>
              <option [value]="4">Extrordinary</option>
              <option [value]="5">Mind blowing</option>
            </select>      
          </div>
          <button type="submit" [disabled]='!addForm.valid' class="btn btn-primary btn-block">Submit</button>
        </form>
      </div>
    </div>    
  </div>