<div *ngIf="loading" style="position: absolute;top: 60px;left: 0;width: 100%;height: 100%;z-index: 2;background-color: rgb(0,0,0)">
  <div style="display: flex;justify-content: center;align-items: center;height: 90%;">
  <img src="../../../assets/loading animation/load2-crop.gif" width="200" height="200" style="opacity: 1;"></div>
</div>
<div class="dark-mode" style="background-color: rgb(0,0,0);color: white;">
<div style="margin-bottom: 50px;">

<!-- removing loading as static content is used until data loads from firebase-->
<div *ngIf="!loading">
<div class="row" style="margin: 2%;margin-top: none;padding-top: none;">
  <div class="col-sm-4">
    <h3 class="display-8 text-center" style="margin-top: 2%;">Movie Lists</h3>
    <h5 *ngIf="customerLists" class="display-8 text-center">Custom Movie Lists created by You</h5>    
    <h3 class="display-8 text-center"></h3>
    <span *ngFor="let list of MovieListsForView" style="margin: 1%;display: flex;">

      <button *ngIf="!isMobile && list.createdBy !== 'ADMIN'" type="button" class="btn btn-success btn-sm btn-block" (click)="scroll(list.key)">
        {{list.listName | titlecase}}
      </button>
      <button *ngIf="!isMobile && list.createdBy === 'ADMIN'" type="button" class="btn btn-primary btn-sm btn-block" (click)="scroll(list.key)">
        {{list.listName | titlecase}}
      </button>
        

        <!-- <button *ngIf="isMobile && list.createdBy !== 'ADMIN'" type="button" class="btn btn-outline-success btn-block" (click)="goto(list.key)">
          {{list.listName | titlecase}} here
        </button>
        <button *ngIf="isMobile && list.createdBy === 'ADMIN'" type="button" class="btn btn-outline-primary  btn-block" (click)="goto(list.key)">
          {{list.listName | titlecase}} here
        </button> -->
        <!-- <button type="button" *ngIf="customerLists" class="btn btn-danger " style="width: 20%;" (click)="deleteList(list.key)">
          Delete
        </button> -->
    </span>
    <span *ngIf="isMobile">
      <div  class="movie-list-item effect7" *ngFor="let list of MovieListsForView" style="margin: 2%;margin-bottom: 4%;">
        <span style="position: relative;top: 25px;left: 10px;width: 100%; ">
          <span *ngIf="list.createdBy === 'ADMIN' && !customerLists" class="badge badge-primary">
            Lists by critics
          </span>
          <span *ngIf="list.createdBy !== 'ADMIN' && !customerLists" class="badge badge-success">
            Custom List By Users like you
          </span>
        </span>
        <div (click)="router.navigateByUrl('/list/'+list.key)" class="content" style="border-top-left-radius: 10px;border-top-right-radius: 10px;height: 150px;">
            <div style="height: 130px;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                <div>
                  <img src="{{list.moviesInList[0].smallImageUrl}}" style="border-top-left-radius: 10px;  height: 150px;width: 33%;">
                  <img src="{{list.moviesInList[1].smallImageUrl}}" style="  height: 150px;width: 33%;">
                  <img src="{{list.moviesInList[2].smallImageUrl}}" style="border-top-right-radius: 10px;  height: 150px;width: 34%;">
                </div>      
            </div>
        </div>
        <div class="footer" style="display: flex;justify-content: center;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;height: auto;background-color: #ffede71f;">
          <p class="text-center">{{list.listName | titlecase}} ({{list.moviesInList.length}} Movies)&nbsp;</p> <br>
          <!-- <button type="button" *ngIf="customerLists" class="btn btn-danger btn-sm" style="width: 20%;height: 30%;" (click)="deleteList(list.key)">
            Delete
          </button> -->
        </div>
      </div>
    </span>
    <br><br>
    <button *ngIf="customerLists || loggedIn" type="button" class="btn btn-success btn-block" (click)="this.router.navigateByUrl('/createList')">Create New List</button>
    <div style="background-color: rgb(22,22,22);height: 5vh;" (click)="easterEgg()">
    </div>
    <br><br>
    <div *ngIf="!customerLists && !isMobile" style="margin: 2%;padding: 2%;">
      <h6>Information : </h6>
      <button type="button" class="btn btn-outline-success btn-sm btn-block">Created By Users like you</button><br>    
      <button type="button" class="btn btn-outline-primary btn-sm btn-block" >Created By ADMIN</button>
    </div>
    
    
  </div>
  <div class="col-sm-8">
    <!-- <div class="jumbotron"> -->
      <!-- <h1 class="display-8 text-center">All Movie Lists</h1> -->
      <h3 class="text-center display-6" id="scrollToThis">{{selectedList.listName}}</h3>
      <h5 *ngIf="!isMobile" style="cursor: pointer;" class="text-center" (click)="goto(selectedList.key)">see this list in better view</h5>
      <div class="scrolling-wrapper">
        
        <div class="card2" *ngFor="let movie of selectedList.moviesInList">
          <div class="movie-card">
            <a (click)="GoToMovie(movie.key)">
            <div class="movie-header manOfSteel" [ngStyle]="{'background-image': 'url(' + movie.smallImageUrl + ')'}">
              <div class="header-icon-container">          
              </div>
            </div></a>
            <div class="movie-content" style="color: black;">
              <div class="movie-content-header">
                <a>
                  <p class="movie-title">{{movie.title}}</p>
                </a>
                
              </div>
              <div class="movie-info" style="font-size:small;">
                <div>
                  <label>Language : </label>
                  <span><b> {{movie.language}}</b></span>
                </div>
                <div>
                  <label>Genre : </label>
                  <span><b> {{movie.genre}}</b></span>
                </div>
                <div>
                  <label>Year of Release : </label>
                  <span><b> {{movie.releaseYear}}</b></span>
                </div>
              </div>
                <div>
                  <div class="imax-logo" data-toggle="modal" data-target="#exampleModalCenter"><a href="{{movie.trailerUrl}}">Watch Trailer</a></div>
                </div>
              
            </div>
          </div>  
        </div>  
      </div>
    <!-- </div> -->
  </div>
</div>
</div>
 <!--rating modal for list-->
<div class="modal fade" id="ratingModalList" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" *ngIf="listToBeRated">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Rate {{listToBeRated.listName | titlecase}} List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="rating" style="margin: 5%;">
              <div class="form-group">            
                <label for="exampleInputPassword2">Please give us your rating to this List</label>     
                <small id="emailHelp" class="form-text text-muted">It will help us to suggest better Movie List based on the rating you give. You can only rate one time per movie. (editing rating for movies will be supported in next version) </small> <br>
                <p>Movie in this List : {{listToBeRated.moviesInList.length}}</p>
                <div style="display: flex;">
                <select class="form-select browser-default custom-select" id="ratingdropdown" aria-label="Default select example" name="rtingd" [(ngModel)]="rating">
                  <option [value]=0>Rate {{listToBeRated.listName | titlecase}} Movie list</option>
                  <option [value]="1">Below Average</option>
                  <option [value]="2">Average</option>
                  <option [value]="3">Good</option>
                  <option [value]="4">Extra-ordinary</option>
                  <option [value]="5">Mind blowing</option>
                </select>   
                <button type="button" style="margin-left: 1%;width: 100px;" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#ratingModalList" (click)=rateList(listToBeRated.key)>Submit</button>   </div>
              </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>