<div class="jumbotron">
  <h1 class="display-8 text-center">All Movie Lists</h1>
  <hr>
  <div *ngFor="let list of MovieListsForView">
    <h1 class="text-center display-6">{{list.listName}}</h1>
    <div class="scrolling-wrapper">
      <!-- <div style="display: flex;flex-wrap: nowrap;"> -->
        <div class="card2" *ngFor="let movie of list.moviesInList">
          <div class="movie-card">
            <!-- <div class="movie-header manOfSteel" style="background-image: url(movie.smallImageUrl);"> -->
            <a (click)="GoToMovie(movie.key)">
            <div class="movie-header manOfSteel" [ngStyle]="{'background-image': 'url(' + movie.smallImageUrl + ')'}">
              <div class="header-icon-container">          
              </div>
            </div></a><!--movie-header-->
            <div class="movie-content">
              <div class="movie-content-header">
                <a>
                  <p class="movie-title">{{movie.title}}</p>
                </a>
                
                <!-- <div class="imax-logo">Watch Trailer</div> ORIGINAL BEFORE MODAL, PASTE THIS LINE IF WE REMOVE BOOTSTRAP MODAL AND REMOVE ABOVE LINE -->
              </div>
              <div class="movie-info" style="font-size:small;">
                <div>
                  <label>Language : </label>
                  <span><b> {{movie.language}}</b></span>
                </div>
                <div>
                  <label>Genre : </label>
                  <span><b> {{movie.genre}}</b></span>
                </div>
                <div>
                  <label>Year of Release : </label>
                  <span><b> {{movie.releaseYear}}</b></span>
                </div>
              </div>
                <div>
                  <div class="imax-logo" data-toggle="modal" data-target="#exampleModalCenter"><a href="{{movie.trailerUrl}}">Watch Trailer</a></div>
                </div>
              
            </div>
          </div>  
        </div>  
      </div>
      <div style="display: flex;justify-content: center;margin: 2%;">        
        <!-- <button type="button" class="btn btn-outline-primary btn-block btn-lg" (click)="GoToEditList(list.key)">Edit '{{list.listName}}' Movie List</button> -->
      <hr>
  </div>
</div>

