<div *ngIf="loading" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 2;background-color: #fff;
background-color: rgba(255,255,255,0.5)">
  <div style="display: flex;justify-content: center;align-items: center;height: 90%;">
  <img src="../../../../assets/loading animation/1475.gif" style="opacity: 1;"></div>
</div>


<div *ngIf="!loading">
<div class="row" style="margin: 2%;">
  <div class="col-sm-3">
    <h3 class="display-8 text-center">Movie Lists</h3>
    <h5 *ngIf="customerLists" class="display-8 text-center">Custom Movie Lists created by You</h5>    
    <h3 class="display-8 text-center"></h3>
    <span *ngFor="let list of MovieListsForView" style="margin: 1%;">
      <button *ngIf="!isMobile" type="button" class="btn btn-outline-secondary btn-sm btn-block" (click)="scroll(list.key)">{{list.listName}}</button>
      <button *ngIf="isMobile" type="button" class="btn btn-outline-secondary btn-sm btn-block" (click)="goto(list.key)">{{list.listName}}</button>
    </span>
    <button *ngIf="customerLists" type="button" class="btn btn-success btn-sm btn-block" (click)="this.router.navigateByUrl('/createList')">Add New List</button>
    
  </div>
  <div class="col-sm-9">
    <!-- <div class="jumbotron"> -->
      <!-- <h1 class="display-8 text-center">All Movie Lists</h1> -->
      <h3 class="text-center display-6" id="scrollToThis">{{selectedList.listName}}</h3>
      <h5 *ngIf="!isMobile" class="text-center" (click)="goto(selectedList.key)">see this list in better view</h5>
      <div class="scrolling-wrapper">
        
        <div class="card2" *ngFor="let movie of selectedList.moviesInList">
          <div class="movie-card">
            <a (click)="GoToMovie(movie.key)">
            <div class="movie-header manOfSteel" [ngStyle]="{'background-image': 'url(' + movie.smallImageUrl + ')'}">
              <div class="header-icon-container">          
              </div>
            </div></a>
            <div class="movie-content">
              <div class="movie-content-header">
                <a>
                  <p class="movie-title">{{movie.title}}</p>
                </a>
                
              </div>
              <div class="movie-info" style="font-size:small;">
                <div>
                  <label>Language : </label>
                  <span><b> {{movie.language}}</b></span>
                </div>
                <div>
                  <label>Genre : </label>
                  <span><b> {{movie.genre}}</b></span>
                </div>
                <div>
                  <label>Year of Release : </label>
                  <span><b> {{movie.releaseYear}}</b></span>
                </div>
              </div>
                <div>
                  <div class="imax-logo" data-toggle="modal" data-target="#exampleModalCenter"><a href="{{movie.trailerUrl}}">Watch Trailer</a></div>
                </div>
              
            </div>
          </div>  
        </div>  
      </div>
    <!-- </div> -->
  </div>
</div>
</div>

<!-- <div class="jumbotron">
  <h1 class="display-8 text-center">All Movie Lists</h1>
  <hr>
  <div *ngFor="let list of MovieListsForView">
    <h1 class="text-center display-6">{{list.listName}}</h1>
    <div class="scrolling-wrapper">
        <div class="card2" *ngFor="let movie of list.moviesInList">
          <div class="movie-card">
            <a (click)="GoToMovie(movie.key)">
            <div class="movie-header manOfSteel" [ngStyle]="{'background-image': 'url(' + movie.smallImageUrl + ')'}">
              <div class="header-icon-container">          
              </div>
            </div></a>
            <div class="movie-content">
              <div class="movie-content-header">
                <a>
                  <p class="movie-title">{{movie.title}}</p>
                </a>
                
               
              </div>
              <div class="movie-info" style="font-size:small;">
                <div>
                  <label>Language : </label>
                  <span><b> {{movie.language}}</b></span>
                </div>
                <div>
                  <label>Genre : </label>
                  <span><b> {{movie.genre}}</b></span>
                </div>
                <div>
                  <label>Year of Release : </label>
                  <span><b> {{movie.releaseYear}}</b></span>
                </div>
              </div>
                <div>
                  <div class="imax-logo" data-toggle="modal" data-target="#exampleModalCenter"><a href="{{movie.trailerUrl}}">Watch Trailer</a></div>
                </div>
              
            </div>
          </div>  
        </div>  
      </div>
      <div style="display: flex;justify-content: center;margin: 2%;">        
        
      <hr>
  </div>
</div>
 -->
