
<div class="jumbotron">
  <div style="display: flex;justify-content: center;">
    <h1 class="text-centre display-4 ">All Movies</h1>
  </div>  
  <hr>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">Search For Movies</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent2">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownG" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter By Genre
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <label class="dropdown-item" (click)="resetGenreFilter()">Reset</label>
              <span *ngFor="let g of allGenres">
                <button type="button" id="{{g}}" (click)="addGenreToSort(g)" class="btn btn-secondary btn-sm" style="margin: 2%;">{{g}}</button>
              </span>              
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownY" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter By Year
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <label class="dropdown-item" (click)="resetYearFilter()">Reset</label>
              <span *ngFor="let year of allMovieYears">
                <button type="button" id="{{year}}" (click)="addYearToSort(year)" class="btn btn-secondary btn-sm" style="margin: 1%;">{{year}}</button>
              </span>              
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownL" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter By Language
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <label class="dropdown-item" (click)="resetLanguageFilter()">Reset</label>
              <span *ngFor="let lang of allLanguages">
                <button type="button" id="{{lang}}" (click)="addLanguageToSort(lang)" class="btn btn-secondary btn-sm" style="margin: 1%;">{{lang}}</button>
              </span>              
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link" style="display: flex;align-items: center;">
              <!-- <input type="checkbox" [(ngModel)]="advancedSearch" name="Adventure">
              <label>&nbsp;Advanced Search</label> -->
              <label class="switch">
                <input type="checkbox" [(ngModel)]="advancedSearch" name="Adventure">
                <span class="slider round"></span>
              </label>
              <label data-toggle="tooltip" data-placement="bottom" title="Advance search is a great feature that include search results by movie name, cast, release year and other custom tags for each movie.Try searching ironman,hulk etc.,.">&nbsp;Advanced Search</label>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search For Movies" name="searchStr" [(ngModel)]="searchString" #searchStr="ngModel" (ngModelChange)="searching($event)">
        </form>
      </div>
    </nav>
  </div>
<!-- <div class="scrolling-wrapper"> -->
  <div style="display: flex;flex-wrap: wrap;">
    <div class="card2" *ngFor="let movie of DisplayMovieList">
      <div class="movie-card">
        <!-- <div class="movie-header manOfSteel" style="background-image: url(movie.smallImageUrl);"> -->
          <a (click)="GoToMovie(movie.key)">
        <div class="movie-header manOfSteel" [ngStyle]="{'background-image': 'url(' + movie.smallImageUrl + ')'}">
          <div class="header-icon-container">          
          </div>
        </div></a><!--movie-header-->
        <div class="movie-content">
          <div class="movie-content-header">
            <a href="#">
              <h3 class="movie-title">{{movie.title}}</h3>
            </a>
            
            <!-- <div class="imax-logo">Watch Trailer</div> ORIGINAL BEFORE MODAL, PASTE THIS LINE IF WE REMOVE BOOTSTRAP MODAL AND REMOVE ABOVE LINE -->
          </div>
          <div class="movie-info" style="font-size:small;">
            <div>
              <label>Language : </label>
              <span><b> {{movie.language}}</b></span>
            </div>
            <div>
              <label>Genre : </label>
              <span><b> {{movie.genre}}</b></span>
            </div>
            <div>
              <label>Year of Release : </label>
              <span><b> {{movie.releaseYear}}</b></span>
            </div>
          </div>
            <div>
              <div class="imax-logo" data-toggle="modal" data-target="#exampleModalCenter"><a href="{{movie.trailerUrl}}">Watch Trailer</a></div>
            </div>          
        </div>
      </div> 
    </div> 
    <div *ngIf="noMoviesSearch">
      <div class="card " style="margin: 2%;">
        <div class="card-header">
          No Movies Present based on your Search and Filter criteria
        </div>
        <div class="card-body">
          <h5 class="card-title">Didn't Find an expected Movie?</h5>
          <p class="card-text">If you like to add your movie suggestion so that it helps us to suggest movies better, please type Movie name and Language below.</p>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Movie Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Year</label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>    
    </div> 
  </div>
</div>
