<div *ngIf="loading" style="position: absolute;top: 70px;left: 0;width: 100%;height: 100%;z-index: 2;background-color: #fff;
background-color: rgba(255,255,255,0.5)">
  <div style="display: flex;justify-content: center;align-items: center;height: 90%;">
  <img src="../../../assets//loading animation/Search.gif" style="opacity: 1;"></div>
</div>

<div class="jumbotron" style="padding-top: 2%;"> 
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div style="display: flex;">
      <a class="navbar-brand"><input class="form-control mr-sm-2" type="text" placeholder="Search For Movies" name="searchStr" [(ngModel)]="searchString" #searchStr="ngModel" (ngModelChange)="searching($event)" width="100%">
        <!-- <span *ngIf="filterSelected" class="badge badge-dark">filters applied</span> -->
        <!-- <small id="emailHelp" style="font-size:x-small;" class="form-text text-muted">Click toggle button on right to use filters</small> -->
      </a>
      <!-- <a class="navbar-brand" data-toggle="collapse" data-target="#navbarSupportedContent2">Search <span *ngIf="filterSelected" class="badge badge-dark">filters applied</span></a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-caret-down-square-fill" style="color: rgb(0, 0, 0);"></i>
      </button></div> 
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent2">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active" *ngIf="filterSelected">
            <a class="nav-link" (click)="resetAllFilters()">Reset All Filters</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownG" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter By Genre <span style="color: green;">({{genresToIncludeInSort.length}})</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <label class="dropdown-item" (click)="resetGenreFilter()">Reset</label>
              <span *ngFor="let g of allGenres">
                <button type="button" id="{{g}}" (click)="addGenreToSort(g)" class="btn btn-secondary btn-sm" style="margin: 2%;">{{g}}</button>
              </span>              
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownY" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter By Year <span style="color: green;">({{yearsToIncludeInSort.length}})</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <label class="dropdown-item" (click)="resetYearFilter()">Reset</label>
              <span *ngFor="let year of allMovieYears">
                <button type="button" id="{{year}}" (click)="addYearToSort(year)" class="btn btn-secondary btn-sm" style="margin: 1%;">{{year}}</button>
              </span>              
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownL" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter By Language <span style="color: green;">({{languagesToIncludeInSort.length}})</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <label class="dropdown-item" (click)="resetLanguageFilter()">Reset</label>
              <span *ngFor="let lang of allLanguages">
                <button type="button" id="{{lang}}" (click)="addLanguageToSort(lang)" class="btn btn-secondary btn-sm" style="margin: 1%;">{{lang}}</button>
              </span>              
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link" style="display: flex;align-items: center;">
              <!-- <input type="checkbox" [(ngModel)]="advancedSearch" name="Adventure">
              <label>&nbsp;Advanced Search</label> -->
              <label class="switch">
                <input type="checkbox" [(ngModel)]="advancedSearch" name="Adventure">
                <span class="slider round"></span>
              </label>
              <label data-toggle="tooltip" data-placement="bottom" title="Advance search is a great feature that include search results by movie name, cast, release year and other custom tags for each movie.Try searching ironman,hulk etc.,.">&nbsp;Advanced Search</label>
            </div>
          </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search For Movies" name="searchStr" [(ngModel)]="searchString" #searchStr="ngModel" (ngModelChange)="searching($event)">
        </form> -->
      </div>
    </nav>
  </div>
  <hr>
<!-- <div class="scrolling-wrapper"> -->
  <!----laptop screen-->
  <div style="display: flex;flex-wrap: wrap;justify-content: center;" *ngIf="!isMobile && !loading">
    <div class="card2" *ngFor="let movie of DisplayMovieList">
      <div class="movie-card">
        <!-- <div class="movie-header manOfSteel" style="background-image: url(movie.smallImageUrl);"> -->
          <a (click)="GoToMovie(movie.key)">
        <div class="movie-header manOfSteel" [ngStyle]="{'background-image': 'url(' + movie.smallImageUrl + ')'}">
          <div class="header-icon-container">          
          </div>
        </div></a><!--movie-header-->
        <div class="movie-content">
          <div class="movie-content-header">
            <a href="#">
              <h3 class="movie-title">{{movie.title}}</h3>
            </a>
            
            <!-- <div class="imax-logo">Watch Trailer</div> ORIGINAL BEFORE MODAL, PASTE THIS LINE IF WE REMOVE BOOTSTRAP MODAL AND REMOVE ABOVE LINE -->
          </div>
          <div class="movie-info" style="font-size:small;">
            <div>
              <label>Language : </label>
              <span><b> {{movie.language}}</b></span>
            </div>
            <div>
              <label>Genre : </label>
              <span><b> {{movie.genre}}</b></span>
            </div>
            <div>
              <label>Year of Release : </label>
              <span><b> {{movie.releaseYear}}</b></span>
            </div>
          </div>
            <div>
              <div class="imax-logo" data-toggle="modal" data-target="#exampleModalCenter"><a href="{{movie.trailerUrl}}">Watch Trailer</a></div>
            </div>          
        </div>
      </div> 
    </div> 
    <div *ngIf="noMoviesSearch">
      <div class="card " style="margin: 2%;">
        <div class="card-header" style="color: red;">
          No Movies Present based on your Search and Filter criteria, check for the filters above or check the search key word you entered.
        </div>
        <div class="card-body">
          <h5 class="card-title">Didn't Find an expected Movie?</h5>
          <p class="card-text">If you like to add your movie suggestion so that it helps us to suggest movies better, please type Movie name and Language below.</p>
          <form novalidate #addForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="movieTitle">Movie Title</label> <span class="badge badge-dark" style="margin-left: 1%;">required</span>
              <input type="text" class="form-control" id="movieTitle" placeholder="Enter Movie Title" required [(ngModel)]="userMovie.title" name="title" #title="ngModel">
              <div *ngIf="title.invalid && (title.dirty || title.touched)">
                <p *ngIf="title.errors?.required" class="error">Movie Title is required</p>
              </div>
            </div>
            <div class="form-group">
              <label>Language</label>
              <div style="margin: 2%;">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" [(ngModel)]="userMovie.language.english" name="lang" >
                  <label class="form-check-label"   >English</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" [(ngModel)]="userMovie.language.telugu" name="lang2" >
                  <label class="form-check-label"   >Telugu</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" [(ngModel)]="userMovie.language.tamil" name="lang3" >
                  <label class="form-check-label"   >Tamil</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" [(ngModel)]="userMovie.language.malayalam" name="lang4" >
                  <label class="form-check-label"   >Malayalam</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" [(ngModel)]="userMovie.language.kannada" name="lang5" >
                  <label class="form-check-label"   >Kannada</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword2">Please Rate the Movie if you have seen it:</label>     
              <small id="emailHelp" class="form-text text-muted">It will help us to suggest movies better. </small> <br>
              <select class="form-select browser-default custom-select" id="ratingdropdown" aria-label="Default select example" name="rtingd" [(ngModel)]="userMovie.rating">
                <option [value]=0></option>
                <option [value]="1">Below Average</option>
                <option [value]="2">Average</option>
                <option [value]="3">Good</option>
                <option [value]="4">Extrordinary</option>
                <option [value]="5">Mind blowing</option>
              </select>      
            </div>
            <!-- <form class="rating">
              <label>
                <input type="radio" name="stars" value="1" id="1" />
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="2" id="2"/>
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="3" id="3"/>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>   
              </label>
              <label>
                <input type="radio" name="stars" value="4" id="4"/>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="5" id="5"/>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
            </form><br> -->
            <button type="submit" [disabled]='!addForm.valid' class="btn btn-primary btn-block">Submit</button>
          </form>
          <!-- <form-field appearance="fill"> -->

<!-- </form-field> -->
        </div>
        <!-- <div class="card-footer text-muted">
          2 days ago
        </div> -->
      </div>    
    </div> 
  </div>

  <!----mobile screen-->
  <div style="display: flex;flex-wrap: wrap;justify-content: center;" *ngIf="isMobile && !loading">
    <span *ngFor="let movie of DisplayMovieList">
      <div class="item">
        <a (click)="GoToMovie(movie.key)"><img src="{{movie.smallImageUrl}}" class="img-thumbnail" style="height: 210px;width: 150px;" alt="{{movie.title}}"></a>
        <h6 style="text-align: center;">{{movie.title}}</h6>  
      </div>     
    </span> 
    <div *ngIf="noMoviesSearch">
      <div class="card " style="margin: 2%;">
        <div class="card-header" style="color: red;">
          No Movies Present based on your Search and Filter criteria, check for the filters above or check the search key word you entered.
        </div>
        <div class="card-body">
          <h5 class="card-title">Didn't Find an expected Movie?</h5>
          <p class="card-text">If you like to add your movie suggestion so that it helps us to suggest movies better, please type Movie name and Language below.</p>
          <form novalidate #addForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="movieTitle">Movie Title</label> <span class="badge badge-dark" style="margin-left: 1%;">required</span>
              <input type="text" class="form-control" id="movieTitle" placeholder="Enter Movie Title" required [(ngModel)]="userMovie.title" name="title" #title="ngModel">
              <div *ngIf="title.invalid && (title.dirty || title.touched)">
                <p *ngIf="title.errors?.required" class="error">Movie Title is required</p>
              </div>
            </div>
            <div class="form-group">
              <label>Language</label>
              <div style="margin: 2%;">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" [(ngModel)]="userMovie.language.english" name="lang" >
                  <label class="form-check-label"   >English</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" [(ngModel)]="userMovie.language.telugu" name="lang2" >
                  <label class="form-check-label"   >Telugu</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" [(ngModel)]="userMovie.language.tamil" name="lang3" >
                  <label class="form-check-label"   >Tamil</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" [(ngModel)]="userMovie.language.malayalam" name="lang4" >
                  <label class="form-check-label"   >Malayalam</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" [(ngModel)]="userMovie.language.kannada" name="lang5" >
                  <label class="form-check-label"   >Kannada</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword2">Please Rate the Movie if you have seen it:</label>     
              <small id="emailHelp" class="form-text text-muted">It will help us to suggest movies better. </small> <br>
              <select class="form-select browser-default custom-select" id="ratingdropdown" aria-label="Default select example" name="rtingd" [(ngModel)]="userMovie.rating">
                <option [value]=0></option>
                <option [value]="1">Below Average</option>
                <option [value]="2">Average</option>
                <option [value]="3">Good</option>
                <option [value]="4">Extrordinary</option>
                <option [value]="5">Mind blowing</option>
              </select>      
            </div>
            <!-- <form class="rating">
              <label>
                <input type="radio" name="stars" value="1" id="1" />
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="2" id="2"/>
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="3" id="3"/>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>   
              </label>
              <label>
                <input type="radio" name="stars" value="4" id="4"/>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
              <label>
                <input type="radio" name="stars" value="5" id="5"/>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
              </label>
            </form><br> -->
            <button type="submit" [disabled]='!addForm.valid' class="btn btn-primary btn-block">Submit</button>
          </form>
          <!-- <form-field appearance="fill"> -->

<!-- </form-field> -->
        </div>
        <!-- <div class="card-footer text-muted">
          2 days ago
        </div> -->
      </div>    
    </div>   
  </div>



</div>
