<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h6 class="text-center">Follow Us on Social Media</h6>
<div style="background-color: black;color: white;display: flex;justify-content: center;flex-wrap: wrap;" class="container" >
      <a href="https://www.instagram.com/suggesto_official/" class="circle_fl ftw">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="https://www.instagram.com/suggesto_official/" class="circle_fl ffb">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="mailto:moviesuggesto@gmail.com" class="circle_fl fpkt">
        <i class="fa fa-google"></i>
      </a> 
    <!-- <a href="https://www.instagram.com/suggesto_official/" class="fa fa-facebook"></a> -->
    <!-- <a href="#" class="fa fa-twitter"></a>  -->
</div>

