
<span class="imdbRatingPlugin" data-user="ur79426835" data-title="tt1375666" data-style="p1">
    <!-- <a href="https://www.imdb.com/title/tt7888964/?ref_=plg_rt_1">
        <img src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/images/imdb_38x18.png" alt=" Nobody(2021) on IMDb" />
    </a> -->
</span>
<div class="container" style="background-color: black;color: white;min-height: 100vh;height: auto;padding-bottom: 80px;">
    <br>
    <h3 class="text-center">Instructions to install SUGGESTO for iOS devices</h3>
    <br>
    <ul class="list-group list-group-flush" style="background-color: black;color: white;">
        <li style="background-color: black;color: white;" class="list-group-item">
            1. Open <a href="/ios">this</a> link in Safari browser on your iOS device.
        </li>
        <li style="background-color: black;color: white;" class="list-group-item">
            2. Click the share button below in the bottom nav bar in browser.
            <div style="display:flex;justify-content:center;width:100%;margin-top: 10px;"><img src="../../../assets/ios-install-instructions/1.jpeg"></div>
        </li>
        <li style="background-color: black;color: white;" class="list-group-item">
            3. Scroll down and find 'Add to HomeScreen' option and click that.
            <div style="display:flex;justify-content:center;width:100%;margin-top: 10px;"><img src="../../../assets/ios-install-instructions/2.jpeg"></div>
        </li>
        <li style="background-color: black;color: white;" class="list-group-item">
            4. Click 'Add' at the top.
            <div style="display:flex;justify-content:center;width:100%;margin-top: 10px;"><img src="../../../assets/ios-install-instructions/3.jpeg"></div>
        </li>
        <li style="background-color: black;color: white;" class="list-group-item">
            5. Hurray!! Suggesto app is now available on your iOS device. You can use that app same as native app.
            <div style="display:flex;justify-content:center;width:100%;margin-top: 10px;"><img src="../../../assets/ios-install-instructions/4.jpeg"></div>
        </li>
        <li style="background-color: black;color: white;" class="list-group-item">
            NOTE : We are working on 'Native iOS app on AppStore'. It will be available soon. Until then please bear with us. We offer all the features that are available on app in here too.
        </li>
      </ul>
</div>